flows/Account_Type_Update.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>For other cities not listed</description>
        <name>Account_Type_Update</name>
        <label>Account Type Update</label>
        <locationX>2162</locationX>
        <locationY>1535</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>textAccountTypeChange</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>varEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Account Type has been updated</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Burr_Ridge_Account_Type_Change</name>
        <label>Burr Ridge Account Type Change</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Burr_Ridge_Account_Type_Change1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>textAccountTypeChange</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>varEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Account Type has been updated</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Burr_Ridge_Account_Type_Change1</name>
        <label>Burr Ridge Account Type Change</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>textAccountTypeChange</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>varCityEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Account Type has been updated</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Champaign_Account_Type</name>
        <label>Champaign Account Type</label>
        <locationX>1634</locationX>
        <locationY>1415</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Copy_1_of_Champaign_Account_Type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>textAccountTypeChange</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>varEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Account Type has been updated</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Collinsville_Account_Type</name>
        <label>Collinsville Account Type</label>
        <locationX>1370</locationX>
        <locationY>1295</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Copy_1_of_Collinsville_Account_Type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>textAccountTypeChange</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>varEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Account Type has been updated</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Champaign_Account_Type</name>
        <label>Copy 1 of Champaign Account Type</label>
        <locationX>1634</locationX>
        <locationY>1535</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>textAccountTypeChange</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>varCityEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Account Type has been updated</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Collinsville_Account_Type</name>
        <label>Copy 1 of Collinsville Account Type</label>
        <locationX>1370</locationX>
        <locationY>1415</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>textAccountTypeChange</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>varCityEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Account Type has been updated</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Peoria_Account_Type</name>
        <label>Copy 1 of Peoria Account Type</label>
        <locationX>842</locationX>
        <locationY>1175</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>textAccountTypeChange</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>varCityEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Account Type has been updated</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Rockford_Account_Type</name>
        <label>Copy 1 of Rockford Account Type</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>textAccountTypeChange</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>varCityEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Account Type has been updated</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Springfield_Account_Type</name>
        <label>Copy 1 of Springfield Account Type</label>
        <locationX>1106</locationX>
        <locationY>1295</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>textAccountTypeChange</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>varCityEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Account Type has been updated</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Tinley_Park_Account_Type</name>
        <label>Copy 1 of Tinley Park Account Type</label>
        <locationX>578</locationX>
        <locationY>1055</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>textAccountTypeChange</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>varCityEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Account Type has been updated</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Watseka_Account_Type</name>
        <label>Copy 1 of Watseka Account Type</label>
        <locationX>1898</locationX>
        <locationY>1655</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>textAccountTypeChange</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>varCityEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Account Type has been updated</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Peoria_Account_Type</name>
        <label>Peoria Account Type</label>
        <locationX>842</locationX>
        <locationY>1055</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Copy_1_of_Peoria_Account_Type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>textAccountTypeChange</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>varEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Account Type has been updated</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Rockford_Account_Type</name>
        <label>Rockford Account Type</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Copy_1_of_Rockford_Account_Type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>textAccountTypeChange</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>varEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Account Type has been updated</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Springfield_Account_Type</name>
        <label>Springfield Account Type</label>
        <locationX>1106</locationX>
        <locationY>1175</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Copy_1_of_Springfield_Account_Type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>textAccountTypeChange</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>varEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Account Type has been updated</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Tinley_Park_Account_Type</name>
        <label>Tinley Park Account Type</label>
        <locationX>578</locationX>
        <locationY>935</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Copy_1_of_Tinley_Park_Account_Type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>textAccountTypeChange</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>varEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Account Type has been updated</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Watseka_Account_Type</name>
        <label>Watseka Account Type</label>
        <locationX>1898</locationX>
        <locationY>1535</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Copy_1_of_Watseka_Account_Type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>textAccountTypeChange</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>varEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Account Type has been updated</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Account_Type_Group</name>
        <label>Assign Account Type Group</label>
        <locationX>313</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>varEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>bill.pappas@accelentertainment.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>joseph.anderson@accelentertainment.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>richardd@accelentertainment.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>josec@accelentertainment.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Type_Change_Burr_Ridge</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Burr_Ridge_team_to_email_collection_variable</name>
        <label>Assign Burr Ridge team to email collection variable</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>varCityEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>mitchellb@accelentertainment.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCityEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>brunoo@accelentertainment.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCityEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>mikem@accelentertainment.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Burr_Ridge_Account_Type_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Champaign_team_to_email_collection_variable</name>
        <label>Assign Champaign team to email collection variable</label>
        <locationX>1634</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>varCityEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>brunoo@accelentertainment.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCityEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>jimj@accelentertainment.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Champaign_Account_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Collinsville_team_to_email_collection_variable</name>
        <label>Assign Collinsville team to email collection variable</label>
        <locationX>1370</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>varCityEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>scottt@accelentertainment.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCityEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>michael.hundelt@accelentertainment.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collinsville_Account_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Peoria_team_to_email_collection_variable</name>
        <label>Assign Peoria team to email collection variable</label>
        <locationX>842</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>varCityEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>nicholasf@accelentertainment.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCityEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>bruces@accelentertainment.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Peoria_Account_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Rockford_team_to_email_collection_variable</name>
        <label>Assign Rockford team to email collection variable</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>varCityEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>scotth@accelentertainment.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCityEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>jeffreyk@accelentertainment.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rockford_Account_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Springfield_team_to_email_collection_variable</name>
        <label>Assign Springfield team to email collection variable</label>
        <locationX>1106</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>varCityEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>jakem@accelentertainment.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCityEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>wendellb@accelentertainment.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Springfield_Account_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Tinley_Park_team_to_email_collection_variable</name>
        <label>Assign Tinley Park team to email collection variable</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>varCityEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>mitchellb@accelentertainment.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCityEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>brunoo@accelentertainment.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCityEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>mike.mcmahon@accelentertainment.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tinley_Park_Account_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Watseka_team_to_email_collection_variable</name>
        <label>Assign Watseka team to email collection variable</label>
        <locationX>1898</locationX>
        <locationY>1415</locationY>
        <assignmentItems>
            <assignToReference>varCityEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>brunoo@accelentertainment.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCityEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>gnylef@accelentertainment.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Watseka_Account_Type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>If Type is changed, collection office is NOT blank but does not equal one of the cities above, still sends email alert to Account Type Change group</description>
        <name>Account_Type_Changed</name>
        <label>Account Type Changed</label>
        <locationX>2294</locationX>
        <locationY>1415</locationY>
        <defaultConnectorLabel>Type Changed CO blank</defaultConnectorLabel>
        <rules>
            <name>Yes_Type_Changed_CO_not_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Collection_Office__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Type_Update</targetReference>
            </connector>
            <label>Yes Type Changed CO not blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_Change_Burr_Ridge</name>
        <label>Type Change Burr Ridge</label>
        <locationX>313</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Type_Change_Rockford</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Burr Ridge</defaultConnectorLabel>
        <rules>
            <name>Yes_Burr_Ridge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Collection_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Burr_Ridge</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Burr_Ridge_team_to_email_collection_variable</targetReference>
            </connector>
            <label>Yes Burr Ridge</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_Change_Champaign</name>
        <label>Type Change Champaign</label>
        <locationX>1865</locationX>
        <locationY>1175</locationY>
        <defaultConnector>
            <targetReference>Type_Change_Watseka</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Champaign</defaultConnectorLabel>
        <rules>
            <name>Yes_Champaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Collection_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Champaign</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Champaign_team_to_email_collection_variable</targetReference>
            </connector>
            <label>Yes Champaign</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_Change_Collinsville</name>
        <label>Type Change Collinsville</label>
        <locationX>1617</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Type_Change_Champaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Collinsville</defaultConnectorLabel>
        <rules>
            <name>Yes_Collinsville</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Collection_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Collinsville</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Collinsville_team_to_email_collection_variable</targetReference>
            </connector>
            <label>Yes Collinsville</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_Change_Peoria</name>
        <label>Type Change Peoria</label>
        <locationX>1101</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Type_Change_Springfield</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Peoria</defaultConnectorLabel>
        <rules>
            <name>Yes_Peoria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Collection_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Peoria</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Peoria_team_to_email_collection_variable</targetReference>
            </connector>
            <label>Yes Peoria</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_Change_Rockford</name>
        <label>Type Change Rockford</label>
        <locationX>576</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Type_Change_Tinley_Park</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Rockford</defaultConnectorLabel>
        <rules>
            <name>Yes_Rockford</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Collection_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rockford</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Rockford_team_to_email_collection_variable</targetReference>
            </connector>
            <label>Yes Rockford</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_Change_Springfield</name>
        <label>Type Change Springfield</label>
        <locationX>1361</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Type_Change_Collinsville</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Springfield</defaultConnectorLabel>
        <rules>
            <name>Yes_Springfield</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Collection_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Springfield</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Springfield_team_to_email_collection_variable</targetReference>
            </connector>
            <label>Yes Springfield</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_Change_Tinley_Park</name>
        <label>Type Change Tinley Park</label>
        <locationX>839</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Type_Change_Peoria</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Tinley Park</defaultConnectorLabel>
        <rules>
            <name>Yes_Tinley_Park</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Collection_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tinley Park</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Tinley_Park_team_to_email_collection_variable</targetReference>
            </connector>
            <label>Yes Tinley Park</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_Change_Watseka</name>
        <label>Type Change Watseka</label>
        <locationX>2096</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Account_Type_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Watseka</defaultConnectorLabel>
        <rules>
            <name>Yes_Watseka</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Collection_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Watseka</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Watseka_team_to_email_collection_variable</targetReference>
            </connector>
            <label>Yes Watseka</label>
        </rules>
    </decisions>
    <description>Updated email layout</description>
    <environments>Default</environments>
    <interviewLabel>Account: Type Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account: Type Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>187</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Account_Type_Group</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>textAccountTypeChange</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The Account Type changed field has been changed for the {!$Record.Name} Account, IGB #: {!$Record.IGB_License__c}, by {!$Record.LastModifiedBy.Name}. 
The previous value was {!$Record__Prior.Type}. 
The new value is {!$Record.Type}.

{!$Record.Record_Link__c}</text>
    </textTemplates>
    <variables>
        <name>collBR</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCityEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
