flows/ACH_Authorization_Status_Updates.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Approved</name>
        <label>Approved</label>
        <locationX>578</locationX>
        <locationY>1967</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>varApprovedEmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>varEmailCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>weeklypays@accelentertainment.com,teresa.schoenhofen@accelentertainment.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>varApprovedSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Denied_Email</name>
        <label>Denied Email</label>
        <locationX>842</locationX>
        <locationY>1847</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>varDeniedEmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>varEmailCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>weeklypays@accelentertainment.com,teresa.schoenhofen@accelentertainment.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>varDeniedSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Teresa_Kate</name>
        <label>Email Teresa &amp; Kate</label>
        <locationX>1106</locationX>
        <locationY>1727</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Account_ACH_Approved_field</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>varFinanceReviewEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>katev@accelentertainment.com,ap2@accelentertainment.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>varFinanceReviewSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_Acct_Owner_Manager</name>
        <label>Notify Acct Owner/Manager</label>
        <locationX>50</locationX>
        <locationY>1727</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>varStalledEmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>varEmailCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>varStalledEmailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>notify_compliance_approver</name>
        <label>Notify Compliance Approver</label>
        <locationX>314</locationX>
        <locationY>1847</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>varComplianceReviewEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>alyssam@accelentertainment.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>varComplianceReviewSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assign_account_owner_manager_info</name>
        <label>assign account owner manager info</label>
        <locationX>798</locationX>
        <locationY>1391</locationY>
        <assignmentItems>
            <assignToReference>varEmailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_acct_owner_manager_collection.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_acct_owner_manager_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_acct_owner_email</name>
        <label>assign acct owner email</label>
        <locationX>798</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>varEmailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_account_owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAcctOwnerFirstNameCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_account_owner.FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_account_owner</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>What_is_the_status_stage_change</name>
        <label>What is the status/stage change?</label>
        <locationX>710</locationX>
        <locationY>1607</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Stalled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stalled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Acct_Owner_Manager</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Status Stalled</label>
        </rules>
        <rules>
            <name>Stage_In_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compliance Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_status_to_in_progress</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Stage Compliance Review</label>
        </rules>
        <rules>
            <name>Status_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_and_Closed_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Status Approved</label>
        </rules>
        <rules>
            <name>Status_Denied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denied</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_and_Closed_Date_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Status Denied</label>
        </rules>
        <rules>
            <name>Stage_Finance_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finance Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Teresa_Kate</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Stage Finance Review</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varAccountURL</name>
        <dataType>String</dataType>
        <expression>&quot;https://accelentertainment--uat.sandbox.lightning.force.com/lightning/r/Account/&quot; &amp; {!varAccountId} &amp; &quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>varToday</name>
        <dataType>Date</dataType>
        <expression>today()</expression>
    </formulas>
    <interviewLabel>ACH Authorization Status Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ACH Authorization Status Updates</label>
    <loops>
        <name>Loop_over_account_owner</name>
        <label>Loop over account owner</label>
        <locationX>710</locationX>
        <locationY>935</locationY>
        <collectionReference>varAccountOwnerInfoCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_acct_owner_email</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_over_acct_owner_manager_collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_acct_owner_manager_collection</name>
        <label>Loop over acct owner manager collection</label>
        <locationX>710</locationX>
        <locationY>1271</locationY>
        <collectionReference>varAcctOwnerMgrCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_account_owner_manager_info</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>What_is_the_status_stage_change</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Owner_First_Name</name>
        <label>Get Account Owner First Name</label>
        <locationX>710</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_account_owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountOwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varAcctOwnerFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Owner_Info</name>
        <label>Get Account Owner Info</label>
        <locationX>710</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_account_URL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_DBA_Name__r.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAccountOwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAccountOwnerManagerId</assignToReference>
            <field>Owner_s_Manager_ID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Info_related_to_Account_Owner_0_0_0_0</name>
        <label>Get User Info related to Account Owner</label>
        <locationX>710</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Owner_First_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountOwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>varAccountOwnerInfoCollection</outputReference>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_user_info_related_to_Account_Owner_Manager_0_0</name>
        <label>Get user info related to Account Owner Manager</label>
        <locationX>710</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Info_related_to_Account_Owner_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountOwnerManagerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>varAcctOwnerMgrCollection</outputReference>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>578</locationX>
        <locationY>1847</locationY>
        <connector>
            <targetReference>Approved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ACH_Approved__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>When ACH Authorization Form is moved to &quot;Finance Review&quot; status, the account ACH Approved checkbox should be updated to TRUE</description>
        <name>Update_Account_ACH_Approved_field</name>
        <label>Update Account: ACH Approved field</label>
        <locationX>1106</locationX>
        <locationY>1847</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_DBA_Name__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ACH_Approved__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_account_URL</name>
        <label>Update account URL</label>
        <locationX>710</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Get_user_info_related_to_Account_Owner_Manager_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Record_URL__c</field>
            <value>
                <elementReference>varAccountURL</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_and_Closed_Date</name>
        <label>Update Status and Closed Date</label>
        <locationX>578</locationX>
        <locationY>1727</locationY>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>Closed_Date__c</field>
            <value>
                <elementReference>varToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_and_Closed_Date_0</name>
        <label>Update Status and Closed Date</label>
        <locationX>842</locationX>
        <locationY>1727</locationY>
        <connector>
            <targetReference>Denied_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>Closed_Date__c</field>
            <value>
                <elementReference>varToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_status_to_in_progress</name>
        <label>Update status to in progress</label>
        <locationX>314</locationX>
        <locationY>1727</locationY>
        <connector>
            <targetReference>notify_compliance_approver</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>ACH_Authorization_Form__c</object>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Owner_Info</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ACH_Authorization_Form__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>varApprovedEmailTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;Hello Team,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The ACH for &lt;a href=&quot;https://accelentertainment.lightning.force.com/lightning/r/Account/{!varAccountId}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!varAccountName}&lt;/a&gt; has been approved.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you!&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>varApprovedSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>ACH Approved for {!varAccountName}.</text>
    </textTemplates>
    <textTemplates>
        <name>varComplianceReviewEmail</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;Hello Alyssa,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The ACH for &lt;a href=&quot;https://accelentertainment.lightning.force.com/lightning/r/Account/{!varAccountId}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!varAccountName}&lt;/a&gt; is ready for final review.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>varComplianceReviewSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Final Review Needed: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!varAccountName}&lt;/span&gt;&lt;</text>
    </textTemplates>
    <textTemplates>
        <name>varDeniedEmailTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;Hello Team,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The ACH for &lt;a href=&quot;https://accelentertainment.lightning.force.com/lightning/r/Account/{!varAccountId}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!varAccountName}&lt;/a&gt; has been denied.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>varDeniedSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>ACH Denied for {!varAccountName}</text>
    </textTemplates>
    <textTemplates>
        <name>varFinanceReviewEmail</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;Hello,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The ACH for &lt;a href=&quot;https://accelentertainment.lightning.force.com/lightning/r/Account/{!varAccountId}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!varAccountName}&lt;/a&gt; is ready for Finance Review. Please update the Stage to Approved once it is confirmed the Account has migrated to NetSuite.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>varFinanceReviewSubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;ACH Ready for Finance Review: {!varAccountName}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>varStalledEmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>ACH Authorization Form Stalled for {!varAccountName}</text>
    </textTemplates>
    <textTemplates>
        <name>varStalledEmailTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;Hello {!varAcctOwnerFirstName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The ACH Authorization Form is STALLED for &lt;a href=&quot;https://accelentertainment.lightning.force.com/lightning/r/Account/{!varAccountId}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!varAccountName}&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Record.ACH_Notes__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please revise and submit to ChasminC@accelentertainment.com upon completion.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountOwnerEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountOwnerInfoCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varAccountOwnerManagerEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountOwnerManagerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAcctOwnerFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAcctOwnerFirstNameCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAcctOwnerMgrCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varAcctOwnerMgrEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEmailCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
