flows/Badge_Assignment_Automation_Screenflow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>All_In_One_Assignment</name>
        <label>All In One Assignment</label>
        <locationX>558</locationX>
        <locationY>644</locationY>
        <assignmentItems>
            <assignToReference>AllInOneCollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varUserBadgeCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_users_with_this_profile</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_Badge_Info</name>
        <label>Assign User Badge Info</label>
        <locationX>561</locationX>
        <locationY>511</locationY>
        <assignmentItems>
            <assignToReference>varUserBadgeCollection.trailheadapp__User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_all_users_with_this_profile.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUserBadgeCollection.trailheadapp__Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUserBadgeCollection.trailheadapp__Badge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCurrentBadgeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUserBadgeCollection.trailheadapp__Assigned_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTODAYfx</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_In_One_Assignment</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>varAssignedProfile</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Profiles__c</picklistField>
        <picklistObject>trailheadapp__Badge__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varProfileRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>ProfileId</displayField>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varProfileId</assignToReference>
            <field>ProfileId</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>varTODAYfx</name>
        <dataType>Date</dataType>
        <expression>today()</expression>
    </formulas>
    <interviewLabel>Badge Assignment Automation Screenflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Badge Assignment Automation Screenflow</label>
    <loops>
        <name>Loop_through_all_users_with_this_profile</name>
        <label>Loop through all users with this profile</label>
        <locationX>574</locationX>
        <locationY>354</locationY>
        <collectionReference>varProfileCollection</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_User_Badge_Info</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_User_Badges</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_User_Badges</name>
        <label>Create User Badges</label>
        <locationX>765</locationX>
        <locationY>537</locationY>
        <inputReference>AllInOneCollectionVar</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_current_badge_info</name>
        <label>Get current badge info</label>
        <locationX>832</locationX>
        <locationY>117</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_profile_ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCurrentBadgeId</elementReference>
            </value>
        </filters>
        <object>trailheadapp__Badge__c</object>
        <outputAssignments>
            <assignToReference>varCurrentBadgeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_profile_ids</name>
        <label>Get profile ids</label>
        <locationX>756</locationX>
        <locationY>249</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Users_with_this_profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAssignedProfile</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Users_with_this_profile</name>
        <label>Get Users with this profile</label>
        <locationX>740</locationX>
        <locationY>378</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_all_users_with_this_profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_profile_ids.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputReference>varProfileCollection</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>Badge_Assignment</name>
        <label>Badge Assignment</label>
        <locationX>584</locationX>
        <locationY>206</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_current_badge_info</targetReference>
        </connector>
        <fields>
            <name>Assigned_Profile2</name>
            <choiceReferences>varAssignedProfile</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Assigned Profile</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Due_Date</name>
            <dataType>Date</dataType>
            <fieldText>Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Badge_Assignment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AllInOneCollectionVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>trailheadapp__User_Badge__c</objectType>
    </variables>
    <variables>
        <name>varCurrentBadgeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varProfileCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varProfileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUserBadgeCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>trailheadapp__User_Badge__c</objectType>
    </variables>
</Flow>
