flows/Case_Chatter_to_RSMs_for_Parts_Received_at_Warehouse.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Parts_Ready_for_Pickup_Chatter_Post</name>
        <label>Parts Ready for Pickup Chatter Post</label>
        <locationX>314</locationX>
        <locationY>408</locationY>
        <actionName>PostRichChatter</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Chatter_to_RSM</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetNameOrId</name>
            <value>
                <stringValue>0F98W00000158NvSAI</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Parts_Ready_for_Pickup_Chatter_Post</name>
        <label>Parts Ready for Pickup Chatter Post</label>
        <locationX>578</locationX>
        <locationY>408</locationY>
        <actionName>PostRichChatter</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Chatter_to_RSM</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetNameOrId</name>
            <value>
                <stringValue>0F98W00000158O0SAI</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_3_of_Parts_Ready_for_Pickup_Chatter_Post</name>
        <label>Parts Ready for Pickup Chatter Post</label>
        <locationX>842</locationX>
        <locationY>408</locationY>
        <actionName>PostRichChatter</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Chatter_to_RSM</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetNameOrId</name>
            <value>
                <stringValue>0F98W00000158OZSAY</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_4_of_Parts_Ready_for_Pickup_Chatter_Post</name>
        <label>Parts Ready for Pickup Chatter Post</label>
        <locationX>1106</locationX>
        <locationY>408</locationY>
        <actionName>PostRichChatter</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Chatter_to_RSM</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetNameOrId</name>
            <value>
                <stringValue>0F98W00000158OUSAY</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_5_of_Parts_Ready_for_Pickup_Chatter_Post</name>
        <label>Parts Ready for Pickup Chatter Post</label>
        <locationX>1370</locationX>
        <locationY>408</locationY>
        <actionName>PostRichChatter</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Chatter_to_RSM</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetNameOrId</name>
            <value>
                <stringValue>0F98W00000158PDSAY</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_6_of_Parts_Ready_for_Pickup_Chatter_Post</name>
        <label>Parts Ready for Pickup Chatter Post</label>
        <locationX>1634</locationX>
        <locationY>408</locationY>
        <actionName>PostRichChatter</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Chatter_to_RSM</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetNameOrId</name>
            <value>
                <stringValue>0F98W00000158OySAI</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_7_of_Parts_Ready_for_Pickup_Chatter_Post</name>
        <label>Parts Ready for Pickup Chatter Post</label>
        <locationX>1898</locationX>
        <locationY>408</locationY>
        <actionName>PostRichChatter</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Chatter_to_RSM</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetNameOrId</name>
            <value>
                <stringValue>0F98W00000158P3SAI</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_8_of_Parts_Ready_for_Pickup_Chatter_Post</name>
        <label>Parts Ready for Pickup Chatter Post</label>
        <locationX>2162</locationX>
        <locationY>408</locationY>
        <actionName>PostRichChatter</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Chatter_to_RSM</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetNameOrId</name>
            <value>
                <stringValue>0F98W00000158P8SAI</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Parts_Ready_for_Pickup_Chatter_Post</name>
        <label>Parts Ready for Pickup Chatter Post</label>
        <locationX>50</locationX>
        <locationY>408</locationY>
        <actionName>PostRichChatter</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Chatter_to_RSM</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetNameOrId</name>
            <value>
                <stringValue>0F98W00000158LuSAI</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <description>Look at the Service Territory assigned to the Account and send a chatter notification to the correct group of Regional Service Managers.</description>
        <name>What_Territory</name>
        <label>What Territory?</label>
        <locationX>1238</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rockford</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Service_Territory__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rockford</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parts_Ready_for_Pickup_Chatter_Post</targetReference>
            </connector>
            <label>Rockford</label>
        </rules>
        <rules>
            <name>Chamseka</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Service_Territory__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Champaign</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Service_Territory__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Watseka</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Parts_Ready_for_Pickup_Chatter_Post</targetReference>
            </connector>
            <label>Chamseka</label>
        </rules>
        <rules>
            <name>Collinsville</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Service_Territory__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Collinsville</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Parts_Ready_for_Pickup_Chatter_Post</targetReference>
            </connector>
            <label>Collinsville</label>
        </rules>
        <rules>
            <name>Springfield</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Service_Territory__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Springfield</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Parts_Ready_for_Pickup_Chatter_Post</targetReference>
            </connector>
            <label>Springfield</label>
        </rules>
        <rules>
            <name>Peoria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Service_Territory__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Peoria</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Parts_Ready_for_Pickup_Chatter_Post</targetReference>
            </connector>
            <label>Peoria</label>
        </rules>
        <rules>
            <name>Chicagoland_Tinley</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Service_Territory__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chicagoland - Tinley Park</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Parts_Ready_for_Pickup_Chatter_Post</targetReference>
            </connector>
            <label>Chicagoland - Tinley</label>
        </rules>
        <rules>
            <name>Chicagoland_North</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Service_Territory__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chicagoland North</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_6_of_Parts_Ready_for_Pickup_Chatter_Post</targetReference>
            </connector>
            <label>Chicagoland North</label>
        </rules>
        <rules>
            <name>Chicagoland_Central</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Service_Territory__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chicagoland Central</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_7_of_Parts_Ready_for_Pickup_Chatter_Post</targetReference>
            </connector>
            <label>Chicagoland Central</label>
        </rules>
        <rules>
            <name>Chicagoland_South</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Service_Territory__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chicagoland South</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_8_of_Parts_Ready_for_Pickup_Chatter_Post</targetReference>
            </connector>
            <label>Chicagoland South</label>
        </rules>
    </decisions>
    <description>Chatter the RSM when the all parts have been received at the Warehouse.</description>
    <environments>Default</environments>
    <interviewLabel>Case - Chatter to RSMs for Parts Received at Warehouse {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Chatter to RSM for Parts Received at Warehouse</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parts_On_Order_Chatter_Sent__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>X1_Minute_After_Update</name>
            <connector>
                <targetReference>What_Territory</targetReference>
            </connector>
            <label>1 Minute After Update</label>
            <maxBatchSize>1</maxBatchSize>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Chatter_to_RSM</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>All the Product Requests have been received at the local warehouse for Case: {!$Record.CaseNumber} at {!$Record.Account.Name}.

Please create a follow up Service Appointment for this location.

Link to Case: accelentertainment.lightning.force.com/{!$Record.Id}</text>
    </textTemplates>
</Flow>
