flows/Chatter_Shortcuts.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_to_Chatter</name>
        <label>Post to Chatter</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Post_Confirmed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Chatter_Message</name>
        <label>Assign Chatter Message</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>ChatterMessageVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_a_Chatter_shortcut_below</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Chatter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Chatter_Message_if_Other</name>
        <label>Assign Chatter Message if Other</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>ChatterMessageVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CustomChatterFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Chatter</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>EnRouteChatter</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Hello, please En Route and head to this call for {!AccountIGBAddress} as soon as possible. Thanks. &lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hello, please En Route and head to this call for {!Get_Service_Appointment.Account.Name} as soon as possible. Thanks.</stringValue>
        </value>
    </choices>
    <choices>
        <name>ETARequestedChatter</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Hello, {!AccountIGBAddress} is requesting a ETA. Please call when you can. Thanks.&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hello, {!Get_Service_Appointment.Account.Name} is requesting a ETA. Please call when you can. Thanks.</stringValue>
        </value>
    </choices>
    <choices>
        <name>OtherChatter</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OtherChatter</stringValue>
        </value>
    </choices>
    <choices>
        <name>StatusUpdateChatter</name>
        <choiceText>Hello, please provide an update for this call for {!AccountIGBAddress}. Thanks.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hello, please provide an update for this call for {!Get_Service_Appointment.Account.Name}. Thanks.</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_Other_Selected</name>
        <label>Is &quot;Other&quot; Selected</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Assign_Chatter_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_OtherSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_a_Chatter_shortcut_below</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OtherChatter</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Chatter_Message_if_Other</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Account Name, IGB Number &amp; Address</description>
        <name>AccountIGBAddress</name>
        <dataType>String</dataType>
        <expression>{!Get_Service_Appointment.Account.Name}&amp; &quot; - &quot; &amp;&quot; IGB Number: &quot;&amp;{!Get_Service_Appointment.Account.IGB_License__c}&amp;&quot;, &quot;&amp; {!Get_Service_Appointment.Account.ShippingCity} &amp;&quot;,  &quot;&amp; {!Get_Service_Appointment.Account.ShippingStreet}</expression>
    </formulas>
    <formulas>
        <name>CustomChatterFormula</name>
        <dataType>String</dataType>
        <expression>{!Type_a_custom_Chatter_message} &amp; &quot; (&quot; &amp; {!Get_Service_Appointment.Account.Name}&amp;  &quot;)&quot; &amp;&quot; - &quot; &amp;&quot; IGB Number: &quot;&amp;{!Get_Service_Appointment.Account.IGB_License__c}&amp;&quot;, &quot;&amp; {!Get_Service_Appointment.Account.ShippingCity} &amp;&quot;,  &quot;&amp; {!Get_Service_Appointment.Account.ShippingStreet}</expression>
    </formulas>
    <interviewLabel>Chatter Shortcuts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Chatter Shortcuts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Assigned_Resource</name>
        <label>Get Assigned Resource</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Chatter_Post</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssignedResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Appointment</name>
        <label>Get Service Appointment</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Assigned_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorDisplayText</name>
            <fieldText>&lt;p&gt;There was an error posting your message. Please contact your System Administrator for more details.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Post_Confirmed</name>
        <label>Post Confirmed</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PostConfirmed</name>
            <fieldText>&lt;p&gt;The below message has been posted. Click &quot;Finish&quot; to return to the Dispatch Console.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;em&gt;Message Posted: &lt;/em&gt;&lt;/strong&gt;&lt;em&gt;{!ChatterMessageForDisplay}&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Chatter_Post</name>
        <label>Select Chatter Post</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Other_Selected</targetReference>
        </connector>
        <fields>
            <name>Select_a_Chatter_shortcut_below</name>
            <choiceReferences>EnRouteChatter</choiceReferences>
            <choiceReferences>ETARequestedChatter</choiceReferences>
            <choiceReferences>StatusUpdateChatter</choiceReferences>
            <choiceReferences>OtherChatter</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a Chatter shortcut below:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Type_a_custom_Chatter_message</name>
            <dataType>String</dataType>
            <fieldText>Type a custom Chatter message:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_a_Chatter_shortcut_below</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>OtherChatter</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ChatterForFlow</name>
            <extensionName>c:ChatterForFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>RecordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Service_Appointment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ChatterMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[{!Get_Assigned_Resource.ServiceResource.RelatedRecordId}] {!ChatterMessageVariable}</text>
    </textTemplates>
    <textTemplates>
        <name>ChatterMessageForDisplay</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;@{!Get_Assigned_Resource.ServiceResource.RelatedRecord.FirstName} &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Assigned_Resource.ServiceResource.RelatedRecord.LastName}&lt;/span&gt; {!ChatterMessageVariable}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ChatterMessageVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
