flows/Create_Software_Assets_From_PO.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssetAssign</name>
        <label>Assign Asset</label>
        <locationX>571</locationX>
        <locationY>338</locationY>
        <assignmentItems>
            <assignToReference>varAssetSObjectStore.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssetSObjectStore.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSoftwareRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssetSObjectStore.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFfAssetName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssetSObjectStore.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInputPo.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssetSObjectStore.PO_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInputPo.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLatestSerialNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssetSObjectStore.Price</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInputPo.Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssetSObjectStore.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssetSObjectStore.Date_Delivered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Store_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Config</name>
        <label>Assign Config</label>
        <locationX>1077</locationX>
        <locationY>337</locationY>
        <assignmentItems>
            <assignToReference>varSoftwareAssetConfig.Latest_Serial_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varLatestSerialNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Config</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Po</name>
        <label>Assign PO</label>
        <locationX>884</locationX>
        <locationY>209</locationY>
        <assignmentItems>
            <assignToReference>varInputPo.Quantity_of_Software_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFfTotalQtyOfAssetsCreated</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updated_PO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Asset</name>
        <label>Store Asset</label>
        <locationX>293</locationX>
        <locationY>338</locationY>
        <assignmentItems>
            <assignToReference>varAssetCollectionStore</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varAssetSObjectStore</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Quantity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision_max_qty_reached</name>
        <label>Reached Max Qty?</label>
        <locationX>563</locationX>
        <locationY>204</locationY>
        <defaultConnector>
            <targetReference>AssetAssign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Store more Assets</defaultConnectorLabel>
        <rules>
            <name>testoutcome1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varQtyAssetsCreated</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varInputQuantity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Assets</targetReference>
            </connector>
            <label>All Assets Stored</label>
        </rules>
    </decisions>
    <description>Creates software assets for a specific PO</description>
    <formulas>
        <name>varFfAssetName</name>
        <dataType>String</dataType>
        <expression>{!varSoftwareAssetConfig.Asset_Name_Prefix__c} + &apos; &apos; + {!varFfLatestPoNumberText}</expression>
    </formulas>
    <formulas>
        <description>Translates numeric field to text to remove the stupid commas so we can write this to Asset.Name</description>
        <name>varFfLatestPoNumberText</name>
        <dataType>String</dataType>
        <expression>TEXT({!varLatestSerialNumber})</expression>
    </formulas>
    <formulas>
        <description>Since this process might be run multiple times if we exceed a Flow limit of around 500 we need to take that into account.</description>
        <name>varFfTotalQtyOfAssetsCreated</name>
        <dataType>Number</dataType>
        <expression>{!varInputPo.Quantity_of_Software_Created__c} + {!varQtyAssetsCreated}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Create Software Assets From PO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Software Assets From PO</label>
    <loops>
        <name>Loop_thru_Quantity</name>
        <label>Loop thru Quantity</label>
        <locationX>291</locationX>
        <locationY>203</locationY>
        <assignNextValueToReference>varQtyAssetsCreated</assignNextValueToReference>
        <collectionReference>varQuantityCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>decision_max_qty_reached</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Assets</name>
        <label>Create Assets</label>
        <locationX>884</locationX>
        <locationY>36</locationY>
        <connector>
            <targetReference>Assign_Po</targetReference>
        </connector>
        <inputReference>varAssetCollectionStore</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Config_Info</name>
        <label>Get Config Info</label>
        <locationX>291</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_thru_Quantity</targetReference>
        </connector>
        <object>Software_Assets_Config__c</object>
        <outputReference>varSoftwareAssetConfig</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Latest_Serial_Number__c</queriedFields>
        <queriedFields>SetupOwnerId</queriedFields>
        <queriedFields>Asset_Name_Prefix__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_SW_Record_Type</name>
        <label>Get Software RT</label>
        <locationX>173</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Config_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Software</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Asset</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>varSoftwareRecordType</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Config</name>
        <label>Update Config</label>
        <locationX>1074</locationX>
        <locationY>497</locationY>
        <inputReference>varSoftwareAssetConfig</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updated_PO</name>
        <label>Update PO</label>
        <locationX>886</locationX>
        <locationY>336</locationY>
        <connector>
            <targetReference>Assign_Config</targetReference>
        </connector>
        <inputReference>varInputPo</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_SW_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varAssetCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>varAssetCollectionStore</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>varAssetSObjectStore</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>varInputPo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Purchase_Order__c</objectType>
    </variables>
    <variables>
        <name>varInputQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>recordId of PO In context</description>
        <name>varInputRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLatestSerialNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>varSoftwareAssetConfig.Latest_Serial_Number__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varQtyAssetsCreated</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Collection of qty values ie . a qty of 5 will come as 1,2,3,4,5 to allow for an easy loop @TODO change this to merely loop through value of PO.Quantity__c</description>
        <name>varQuantityCollection</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varSoftwareAssetConfig</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Software_Assets_Config__c</objectType>
    </variables>
    <variables>
        <name>varSoftwareRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
</Flow>
