flows/Create_Collection_Work_Order_Line_Items.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>Create Collection Work Order Line Items {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Collection Work Order Line Items</label>
    <loops>
        <name>AcctAssetLoop</name>
        <label>AcctAssetLoop</label>
        <locationX>187</locationX>
        <locationY>306</locationY>
        <assignNextValueToReference>AcctAssetRecordsVariable</assignNextValueToReference>
        <collectionReference>AccountAssets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CreateWorkOrderLineItems</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateWorkOrderLineItems</name>
        <label>CreateWorkOrderLineItems</label>
        <locationX>191</locationX>
        <locationY>477</locationY>
        <connector>
            <targetReference>AcctAssetLoop</targetReference>
        </connector>
        <faultConnector>
            <targetReference>AcctAssetLoop</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>AcctAssetRecordsVariable.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_Period_Meter_Needed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>WorkOrderID</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordCreates>
    <recordLookups>
        <name>LookupAcctAssets</name>
        <label>LookupAcctAssets</label>
        <locationX>185</locationX>
        <locationY>194</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AcctAssetLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VariableAcctID</elementReference>
            </value>
        </filters>
        <filters>
            <field>VGT_Or_Redemption__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>AccountAssets</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>LookupAcctAssets</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountAssets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>AcctAssetRecordsVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>VariableAcctID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
