flows/Create_Product_Request.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <constants>
        <name>Standard</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Standard</stringValue>
        </value>
    </constants>
    <interviewLabel>Create Product Request  {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Product Request5</label>
    <loops>
        <name>MarketingRequestProductLoop</name>
        <label>MarketingRequestProductLoop</label>
        <locationX>526</locationX>
        <locationY>193</locationY>
        <assignNextValueToReference>MarketingRequestProductsVariable</assignNextValueToReference>
        <collectionReference>MarketingRequestProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CreateProductRequest</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Product_Request</name>
        <label>CreateProductRequest</label>
        <locationX>180</locationX>
        <locationY>63</locationY>
        <assignRecordIdToReference>NewProductRequestID</assignRecordIdToReference>
        <connector>
            <targetReference>Get_initial_marketing_request_for_flow_trigger</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Request__c</field>
            <value>
                <elementReference>MarketingRequestID</elementReference>
            </value>
        </inputAssignments>
        <object>ProductRequest</object>
    </recordCreates>
    <recordCreates>
        <name>CreateProductRequest</name>
        <label>CreateProductRequest</label>
        <locationX>528</locationX>
        <locationY>331</locationY>
        <connector>
            <targetReference>MarketingRequestProductLoop</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Marketing__c</field>
            <value>
                <elementReference>MarketingRequestProductsVariable.Account_Marketing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>NewProductRequestID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>MarketingRequestProductsVariable.Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityRequested</field>
            <value>
                <elementReference>MarketingRequestProductsVariable.Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <object>ProductRequestLineItem</object>
    </recordCreates>
    <recordLookups>
        <name>Get_initial_marketing_request_for_flow_trigger</name>
        <label>Get initial marketing request (for flow trigger)</label>
        <locationX>173</locationX>
        <locationY>214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_flow_trigger_on_Marketing_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MarketingRequestID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Flow_Trigger__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Marketing_Request__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Flow_Trigger__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>LookupMarketingRequestProducts</name>
        <label>LookupMarketingRequestProducts</label>
        <locationX>527</locationX>
        <locationY>66</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MarketingRequestProductLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Marketing_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MarketingRequestID</elementReference>
            </value>
        </filters>
        <object>Marketing_Request_Products__c</object>
        <outputReference>MarketingRequestProducts</outputReference>
        <queriedFields>Product__c</queriedFields>
        <queriedFields>Quantity__c</queriedFields>
        <queriedFields>Account_Marketing__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_flow_trigger_on_Marketing_Request</name>
        <label>Update flow trigger on Marketing Request</label>
        <locationX>168</locationX>
        <locationY>369</locationY>
        <connector>
            <targetReference>LookupMarketingRequestProducts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MarketingRequestID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Trigger__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Marketing_Request__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Create_Product_Request</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MarketingRequestID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MarketingRequestProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Marketing_Request_Products__c</objectType>
    </variables>
    <variables>
        <name>MarketingRequestProductsVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Marketing_Request_Products__c</objectType>
    </variables>
    <variables>
        <name>NewProductRequestID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
