flows/Create_Competitor_TO_TUA_for_Accounts_without_one.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Does_Account_Have_a_Competitor_TO_TUA_Agreement</name>
        <label>Does Account Have a Competitor TO TUA Agreement</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Found a Competitor TO TUA Agreement</defaultConnectorLabel>
        <rules>
            <name>NO_Competitor_TO_TUA_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Competitor_TO_TUA_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Competitor_TO_TUA_Agreement_Record_0</targetReference>
            </connector>
            <label>NO Competitor TO TUA Found</label>
        </rules>
    </decisions>
    <formulas>
        <name>fx_Set_Expiration_Date</name>
        <dataType>Date</dataType>
        <expression>TODAY()+60</expression>
    </formulas>
    <interviewLabel>Create Competitor TO TUA for Accounts without one {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Competitor TO TUA for Accounts without one</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Competitor_TO_TUA_Agreement_Record_0</name>
        <label>Create Competitor TO TUA Agreement Record</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiration_Date__c</field>
            <value>
                <elementReference>fx_Set_Expiration_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121I000000W9xCQAS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Find_Competitor_TO_TUA_Agreement</name>
        <label>Find Competitor TO TUA Agreement</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Account_Have_a_Competitor_TO_TUA_Agreement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121I000000W9xCQAS</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <outputAssignments>
            <assignToReference>var_Competitor_TO_TUA_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_Competitor_TO_TUA_Agreement</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Force_Update__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Competitor Account</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>var_Competitor_TO_TUA_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
