flows/Create_Follow_Up_Work_Order_and_Items.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>Create Follow Up Work Order and Items {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Follow Up Work Order and Items</label>
    <loops>
        <name>AcctAssetLoop</name>
        <label>AcctAssetLoop</label>
        <locationX>326</locationX>
        <locationY>268</locationY>
        <assignNextValueToReference>AcctAssetRecordsVariable</assignNextValueToReference>
        <collectionReference>AccountAssets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CreateNewWorkOrderItems</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateServiceAppt</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Work_Order</name>
        <label>Create Work Order</label>
        <locationX>89</locationX>
        <locationY>145</locationY>
        <assignRecordIdToReference>NewWorkOrderId</assignRecordIdToReference>
        <connector>
            <targetReference>LookupAcctAssets</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AcctID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collection_Renewal__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121I000000W9kr</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>StartDate</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordCreates>
        <name>CreateNewWorkOrderItems</name>
        <label>CreateNewWorkOrderItems</label>
        <locationX>332</locationX>
        <locationY>433</locationY>
        <connector>
            <targetReference>AcctAssetLoop</targetReference>
        </connector>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>AcctAssetRecordsVariable.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_Period_Meter_Needed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>NewWorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>CreateServiceAppt</name>
        <label>CreateServiceAppt</label>
        <locationX>533</locationX>
        <locationY>268</locationY>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>NewWorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121I000000W9kw</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>None</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordCreates>
    <recordLookups>
        <name>LookupAcctAssets</name>
        <label>LookupAcctAssets</label>
        <locationX>326</locationX>
        <locationY>145</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AcctAssetLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AcctID</elementReference>
            </value>
        </filters>
        <filters>
            <field>VGT_Or_Redemption__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>AccountAssets</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>Create_Work_Order</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountAssets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>AcctAssetRecordsVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>AcctID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DaysTilNextCollection</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>EndDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewWorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StartDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
