flows/flow_AccelApplicationError_CommonErrorHandling.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_App_Error_Log</name>
        <label>Assign App Error Log</label>
        <locationX>575</locationX>
        <locationY>12</locationY>
        <assignmentItems>
            <assignToReference>varAccelApplicationError.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPrivateRecordTypeSObject.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccelApplicationError.Stack_Trace__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInputErrorMsg</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccelApplicationError.User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFF_ExecutingUser</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_App_Error_Log_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Output_Messages</name>
        <label>Assign Output Messages</label>
        <locationX>1048</locationX>
        <locationY>12</locationY>
        <assignmentItems>
            <assignToReference>varOutputErrorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccelApplicationError.Stack_Trace__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOutputRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInputRecordId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Set to run as System but with sharing enforced</description>
    <environments>Default</environments>
    <formulas>
        <name>varFF_ExecutingUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>flow_AccelApplicationError_CommonErrorHandling {!$Flow.CurrentDateTime}</interviewLabel>
    <label>flow_AccelApplicationError_CommonErrorHandling</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_App_Error_Log_Record</name>
        <label>Create App Error Log Record</label>
        <locationX>820</locationX>
        <locationY>12</locationY>
        <connector>
            <targetReference>Assign_Output_Messages</targetReference>
        </connector>
        <inputReference>varAccelApplicationError</inputReference>
    </recordCreates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>63</locationX>
        <locationY>12</locationY>
        <connector>
            <targetReference>Find_App_Error_RT</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Find_App_Error_RT</name>
        <label>Find App Error RT</label>
        <locationX>403</locationX>
        <locationY>12</locationY>
        <connector>
            <targetReference>Assign_App_Error_Log</targetReference>
        </connector>
        <flowName>flow_RecordType_CommonRecordTypeIdRetrieval</flowName>
        <inputAssignments>
            <name>varInputRecordTypeDevName</name>
            <value>
                <stringValue>Salesforce_CRM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInputRecordTypeSObjectName</name>
            <value>
                <stringValue>Accel_Application_Error__c</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varPrivateRecordTypeSObject</assignToReference>
            <name>varOutputRecordTypeSObject</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>varAccelApplicationError</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Accel_Application_Error__c</objectType>
    </variables>
    <variables>
        <name>varInputErrorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInputRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOutputErrorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOutputRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPrivateRecordTypeSObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
</Flow>
