flows/flow_ServiceAppointment_Alerts.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Recipient_Id_s</name>
        <label>Assign Recipient Id(s)  And TargetRecordId</label>
        <locationX>608</locationX>
        <locationY>46</locationY>
        <assignmentItems>
            <assignToReference>varOutputRecipientIds</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>varInputOutputAssignedResourceId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOutputTargetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInputOutputServiceAppointmentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOutputUserName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_From_Assigned_Resource.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Custom_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Send_Results</name>
        <label>Assign Final Send Results</label>
        <locationX>1065</locationX>
        <locationY>714</locationY>
        <assignmentItems>
            <assignToReference>varOutputSendResult</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPrivateSendResult</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>FAIL_Sending_Notification</name>
        <label>FAIL Sending Notification</label>
        <locationX>953</locationX>
        <locationY>487</locationY>
        <assignmentItems>
            <assignToReference>varPrivateSendResult</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Send_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Invalid_Alert_Type</name>
        <label>Invalid Alert Type</label>
        <locationX>351</locationX>
        <locationY>423</locationY>
        <assignmentItems>
            <assignToReference>varPrivateSendResult</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Send_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Invalid_Inputs</name>
        <label>Invalid Inputs</label>
        <locationX>161</locationX>
        <locationY>502</locationY>
        <assignmentItems>
            <assignToReference>varPrivateSendResult</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Send_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SUCCESS_Sending_Notification</name>
        <label>SUCCESS Sending Notification</label>
        <locationX>1073</locationX>
        <locationY>279</locationY>
        <assignmentItems>
            <assignToReference>varPrivateSendResult</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Send_Results</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Alert_Type</name>
        <label>Check Alert Type</label>
        <locationX>342</locationX>
        <locationY>182</locationY>
        <defaultConnector>
            <targetReference>Invalid_Alert_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Dispatched_Alert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputAlertType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NOT_DISPATCHED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_From_Assigned_Resource</targetReference>
            </connector>
            <label>Alert - Not Dispatched</label>
        </rules>
        <rules>
            <name>Alert_No_Assigned_Resource</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputAlertType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NO_ASSIGNED_RESOURCE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_From_Assigned_Resource</targetReference>
            </connector>
            <label>Alert - No Assigned Resource (FOR BACKWARD COMPATIBILITY)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validation_Input_Parameters</name>
        <label>Validation Input Parameters</label>
        <locationX>151</locationX>
        <locationY>177</locationY>
        <defaultConnector>
            <targetReference>Invalid_Inputs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default (Invalid Inputs!)</defaultConnectorLabel>
        <rules>
            <name>ValidInputs</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>formula_Assigned_resource_not_blank</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varInputOutputServiceAppointmentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varInputAlertType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varInputOutputNotificationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manual</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varInputOutputNotificationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Automated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Alert_Type</targetReference>
            </connector>
            <label>Valid Inputs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Send_Successful</name>
        <label>Was Send Successful?</label>
        <locationX>766</locationX>
        <locationY>253</locationY>
        <defaultConnector>
            <targetReference>Log_Error_to_SFDC_App_Errors_Object</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Write_Success_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOutputSendResult</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Custom_Notification_Send_Record</targetReference>
            </connector>
            <label>Write Success Record</label>
        </rules>
    </decisions>
    <description>Added tighter checks on assigned resource id from null / blank / undefined</description>
    <formulas>
        <name>formula_Assigned_resource_not_blank</name>
        <dataType>Boolean</dataType>
        <expression>IF(AND({!varInputOutputAssignedResourceId} != NULL,{!varInputOutputAssignedResourceId} != &apos;&apos;, {!varInputOutputAssignedResourceId} != &apos;undefined&apos;), TRUE, FALSE)</expression>
    </formulas>
    <interviewLabel>flow_ServiceAppointment_Alerts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>flow_ServiceAppointment_Alerts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Custom_Notification_Send_Record</name>
        <label>Create Custom Notification Send Record</label>
        <locationX>1073</locationX>
        <locationY>72</locationY>
        <assignRecordIdToReference>varOutputCustomNotificationsSentId</assignRecordIdToReference>
        <connector>
            <targetReference>SUCCESS_Sending_Notification</targetReference>
        </connector>
        <inputAssignments>
            <field>Alert_Type__c</field>
            <value>
                <elementReference>varInputAlertType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Custom_Notification_Api_Name__c</field>
            <value>
                <elementReference>varInputOutputCustomNotificationApiName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Msg_Body__c</field>
            <value>
                <elementReference>varOutputMsgBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Msg_Title__c</field>
            <value>
                <elementReference>varOuputMsgTitle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notification_Type__c</field>
            <value>
                <elementReference>varInputOutputNotificationType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Appointment__c</field>
            <value>
                <elementReference>varInputOutputServiceAppointmentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>varInputOutputAssignedResourceId</elementReference>
            </value>
        </inputAssignments>
        <object>Custom_Notifications_Sent__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_User_From_Assigned_Resource</name>
        <label>Get User From Assigned Resource</label>
        <locationX>608</locationX>
        <locationY>258</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Recipient_Id_s</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputOutputAssignedResourceId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <start>
        <locationX>33</locationX>
        <locationY>16</locationY>
        <connector>
            <targetReference>Validation_Input_Parameters</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Log_Error_to_SFDC_App_Errors_Object</name>
        <label>Log Error to SFDC App Errors Object</label>
        <locationX>774</locationX>
        <locationY>487</locationY>
        <connector>
            <targetReference>FAIL_Sending_Notification</targetReference>
        </connector>
        <flowName>flow_AccelApplicationError_CommonErrorHandling</flowName>
        <inputAssignments>
            <name>varInputErrorMsg</name>
            <value>
                <elementReference>varOutputLogAppError</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInputRecordId</name>
            <value>
                <elementReference>varOutputTargetId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Send_Custom_Notification</name>
        <label>SEND Custom Notification</label>
        <locationX>773</locationX>
        <locationY>76</locationY>
        <connector>
            <targetReference>Was_Send_Successful</targetReference>
        </connector>
        <flowName>flow_CustomNotificationSend</flowName>
        <inputAssignments>
            <name>varInputCustomNotificationApiName</name>
            <value>
                <elementReference>varInputOutputCustomNotificationApiName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInputMsgBody</name>
            <value>
                <elementReference>varOutputMsgBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInputMsgTitle</name>
            <value>
                <elementReference>varOuputMsgTitle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInputRecipientIds</name>
            <value>
                <elementReference>varOutputRecipientIds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInputTargetId</name>
            <value>
                <elementReference>varOutputTargetId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varOutputLogAppError</assignToReference>
            <name>varOutputApplicationError</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOutputSendResult</assignToReference>
            <name>varOutputIsSendSuccess</name>
        </outputAssignments>
    </subflows>
    <variables>
        <description>The type of Alert (If in the future we need to branch to other alerts) Defaulted to NOT_DISPATCHED if not passed.</description>
        <name>varInputAlertType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>NOT_DISPATCHED</stringValue>
        </value>
    </variables>
    <variables>
        <name>varInputCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>The Assigned Resource Id of the Service Appointment (Used for recipient Id)  If not passed defaulted / hard coded to user Rick Nendza</description>
        <name>varInputOutputAssignedResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0051I000002oMS0QAM</stringValue>
        </value>
    </variables>
    <variables>
        <description>The Api Name of the SFDC CustomNotification Record. Defaults to TEST_SERVICE_WATCHDOG_NOTIFICATION if none passed</description>
        <name>varInputOutputCustomNotificationApiName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>TEST_SERVICE_WATCHDOG_NOTIFICATION</stringValue>
        </value>
    </variables>
    <variables>
        <description>The type of notification (either manual and automated) defaults to manual (ie user clicked icon in svc watchdog)</description>
        <name>varInputOutputNotificationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Manual</stringValue>
        </value>
    </variables>
    <variables>
        <name>varInputOutputServiceAppointmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>08p110000004kqHAAQ</stringValue>
        </value>
    </variables>
    <variables>
        <description>adsfgsadfrds</description>
        <name>varInputTextVeryVeryVeryVeryVeryLongName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Default</stringValue>
        </value>
    </variables>
    <variables>
        <name>varOuputMsgTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Service Appointment Acknowledgement Required!</stringValue>
        </value>
    </variables>
    <variables>
        <name>varOutputCustomNotificationsSentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOutputLogAppError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOutputMsgBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Please be sure to acknowledge all service appointments on your FSL schedule, thank you.</stringValue>
        </value>
    </variables>
    <variables>
        <description>A collection of string used to send to the SEND Custom Notification Subflow specify who (in this case users) the notification will be sent to.</description>
        <name>varOutputRecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOutputSendResult</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varOutputTargetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOutputUserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPrivateCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varPrivateSendResult</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
