flows/Get_Service_Region_Center_Address.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Chicagoland_Central_2_Address</name>
        <label>Assign Chicagoland Central 2 Address</label>
        <locationX>4274</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Service_Region_City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChicagolandC_2_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Region_State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Region_Zip</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChicagolandC_2_Zip</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Chicagoland_Central_3_Address</name>
        <label>Assign Chicagoland Central 3 Address</label>
        <locationX>4538</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Service_Region_City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChicagolandC3_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Region_State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Region_Zip</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChicagolandC_3_Zip</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Chicagoland_Central_Address</name>
        <label>Assign Chicagoland Central Address</label>
        <locationX>4010</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Service_Region_City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChicagolandC_1_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Region_State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Region_Zip</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChicagolandC_1_Zip</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Chicagoland_North_1_Address</name>
        <label>Assign Chicagoland North 1 Address</label>
        <locationX>2954</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Service_Region_City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChicagolandN_1_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Region_State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Region_Zip</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChicagolandN_1_Zip</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Chicagoland_North_2_Address</name>
        <label>Assign Chicagoland North 2 Address</label>
        <locationX>3218</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Service_Region_City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChicagolandN_2_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Region_State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Region_Zip</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChicagolandN_2_Zip</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Chicagoland_North_3_Address</name>
        <label>Assign Chicagoland North 3 Address</label>
        <locationX>3482</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Service_Region_City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChicagolandN_3_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Region_State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Region_Zip</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChicagolandN_3_Zip</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Chicagoland_North_4_Address</name>
        <label>Assign Chicagoland North 4 Address</label>
        <locationX>3746</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Service_Region_City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChicagolandN_4_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Region_State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Region_Zip</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChicagolandN_4_Zip</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Chicagoland_South_2_Address</name>
        <label>Assign Chicagoland South 2 Address</label>
        <locationX>4802</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Service_Region_City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChicagolandS_2_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Region_State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Region_Zip</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChicagolandS_2_Zip</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Chicagoland_South_3_Address</name>
        <label>Assign Chicagoland South 3 Address</label>
        <locationX>5066</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Service_Region_City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChicagolandS3_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Region_State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Region_Zip</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>60468</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Chicagoland_South_4_Address</name>
        <label>Assign Chicagoland South 4 Address</label>
        <locationX>5330</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Service_Region_City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChicagolandS4_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Region_State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Region_Zip</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChicagolandS4_Zip</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Rockford_1_Address</name>
        <label>Assign Rockford 1 Address</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Service_Region_City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rockford_1_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Region_State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Region_Zip</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rockford_1_Zip</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Rockford_2_Address</name>
        <label>Assign Rockford 2 Address</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Service_Region_City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rockford_2_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Region_State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Region_Zip</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rockford_2_Zip</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Rockford_3_Address</name>
        <label>Assign Rockford 3 Address</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Service_Region_City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rockford_3_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Region_State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Region_Zip</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rockford_3_Zip</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Rockford_4_Address</name>
        <label>Assign Rockford 4 Address</label>
        <locationX>842</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Service_Region_City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rockford_4_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Region_State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Region_Zip</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rockford_4_Zip</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Rockford_5_Address</name>
        <label>Assign Rockford 5 Address</label>
        <locationX>1106</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Service_Region_City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rockford_5_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Region_State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Region_Zip</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rockford_5_Zip</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Rockford_6_Address</name>
        <label>Assign Rockford 6 Address</label>
        <locationX>1370</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Service_Region_City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rockford_6_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Region_State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Region_Zip</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rockford_6_Zip</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Rockford_7_Address</name>
        <label>Assign Rockford 7 Address</label>
        <locationX>1634</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Service_Region_City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rockford_7_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Region_State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Region_Zip</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rockford_7_Zip</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Tinley_Park_1_Address</name>
        <label>Assign Tinley Park 1 Address</label>
        <locationX>1898</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Service_Region_City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TinleyPark_1_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Region_State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Region_Zip</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TinleyPark_1_Zip</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Tinley_Park_2_Address</name>
        <label>Assign Tinley Park 2 Address</label>
        <locationX>2162</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Service_Region_City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TinleyPark_2_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Region_State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Region_Zip</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TinleyPark_2_Zip</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Tinley_Park_3_Address</name>
        <label>Assign Tinley Park 3 Address</label>
        <locationX>2426</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Service_Region_City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TinleyPark_3_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Region_State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Region_Zip</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TinleyPark_3_Zip</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Tinley_Park_4_Address</name>
        <label>Assign Tinley Park 4 Address</label>
        <locationX>2690</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Service_Region_City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TinleyPark_4_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Region_State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Region_Zip</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>60477</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>ChicagolandC3_City</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Sugar Grove</stringValue>
        </value>
    </constants>
    <constants>
        <name>ChicagolandC_1_City</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Bensenville</stringValue>
        </value>
    </constants>
    <constants>
        <name>ChicagolandC_1_Zip</name>
        <dataType>String</dataType>
        <value>
            <stringValue>60106</stringValue>
        </value>
    </constants>
    <constants>
        <name>ChicagolandC_2_City</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Western Springs</stringValue>
        </value>
    </constants>
    <constants>
        <name>ChicagolandC_2_Zip</name>
        <dataType>String</dataType>
        <value>
            <stringValue>60558</stringValue>
        </value>
    </constants>
    <constants>
        <name>ChicagolandC_3_Zip</name>
        <dataType>String</dataType>
        <value>
            <stringValue>60554</stringValue>
        </value>
    </constants>
    <constants>
        <name>ChicagolandN_1_City</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Wauconda</stringValue>
        </value>
    </constants>
    <constants>
        <name>ChicagolandN_1_Zip</name>
        <dataType>String</dataType>
        <value>
            <stringValue>60084</stringValue>
        </value>
    </constants>
    <constants>
        <name>ChicagolandN_2_City</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Huntley</stringValue>
        </value>
    </constants>
    <constants>
        <name>ChicagolandN_2_Zip</name>
        <dataType>String</dataType>
        <value>
            <stringValue>60142</stringValue>
        </value>
    </constants>
    <constants>
        <name>ChicagolandN_3_City</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Melrose Park</stringValue>
        </value>
    </constants>
    <constants>
        <name>ChicagolandN_3_Zip</name>
        <dataType>String</dataType>
        <value>
            <stringValue>60160</stringValue>
        </value>
    </constants>
    <constants>
        <name>ChicagolandN_4_City</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Elgin</stringValue>
        </value>
    </constants>
    <constants>
        <name>ChicagolandN_4_Zip</name>
        <dataType>String</dataType>
        <value>
            <stringValue>60123</stringValue>
        </value>
    </constants>
    <constants>
        <name>ChicagolandS3_City</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Peotone</stringValue>
        </value>
    </constants>
    <constants>
        <name>ChicagolandS4_City</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Chanahon</stringValue>
        </value>
    </constants>
    <constants>
        <name>ChicagolandS4_Zip</name>
        <dataType>String</dataType>
        <value>
            <stringValue>60410</stringValue>
        </value>
    </constants>
    <constants>
        <name>ChicagolandS_2_City</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Alsip</stringValue>
        </value>
    </constants>
    <constants>
        <name>ChicagolandS_2_Zip</name>
        <dataType>String</dataType>
        <value>
            <stringValue>60803</stringValue>
        </value>
    </constants>
    <constants>
        <name>IL</name>
        <dataType>String</dataType>
        <value>
            <stringValue>IL</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rockford_1_City</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rockford</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rockford_1_Zip</name>
        <dataType>String</dataType>
        <value>
            <stringValue>61104</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rockford_2_City</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Freeport</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rockford_2_Zip</name>
        <dataType>String</dataType>
        <value>
            <stringValue>61032</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rockford_3_City</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Sterling</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rockford_3_Zip</name>
        <dataType>String</dataType>
        <value>
            <stringValue>61081</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rockford_4_City</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rochelle</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rockford_4_Zip</name>
        <dataType>String</dataType>
        <value>
            <stringValue>61068</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rockford_5_City</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Elizabeth</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rockford_5_Zip</name>
        <dataType>String</dataType>
        <value>
            <stringValue>61028</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rockford_6_City</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Roscoe</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rockford_6_Zip</name>
        <dataType>String</dataType>
        <value>
            <stringValue>61073</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rockford_7_City</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Poplar Grove</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rockford_7_Zip</name>
        <dataType>String</dataType>
        <value>
            <stringValue>61065</stringValue>
        </value>
    </constants>
    <constants>
        <name>TinleyPark_1_City</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Justice</stringValue>
        </value>
    </constants>
    <constants>
        <name>TinleyPark_1_Zip</name>
        <dataType>String</dataType>
        <value>
            <stringValue>60458</stringValue>
        </value>
    </constants>
    <constants>
        <name>TinleyPark_2_City</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Crestwood</stringValue>
        </value>
    </constants>
    <constants>
        <name>TinleyPark_2_Zip</name>
        <dataType>String</dataType>
        <value>
            <stringValue>60445</stringValue>
        </value>
    </constants>
    <constants>
        <name>TinleyPark_3_City</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Chicago Heights</stringValue>
        </value>
    </constants>
    <constants>
        <name>TinleyPark_3_Zip</name>
        <dataType>String</dataType>
        <value>
            <stringValue>60411</stringValue>
        </value>
    </constants>
    <constants>
        <name>TinleyPark_4_City</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Tinley Park</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Which_Service_Region</name>
        <label>Which Service Region?</label>
        <locationX>2822</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Rockford_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Region</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rockford 1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Rockford_1_Address</targetReference>
            </connector>
            <label>Rockford 1</label>
        </rules>
        <rules>
            <name>Rockford_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Region</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rockford 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Rockford_2_Address</targetReference>
            </connector>
            <label>Rockford 2</label>
        </rules>
        <rules>
            <name>Rockford_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Region</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rockford 3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Rockford_3_Address</targetReference>
            </connector>
            <label>Rockford 3</label>
        </rules>
        <rules>
            <name>Rockford_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Region</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rockford 4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Rockford_4_Address</targetReference>
            </connector>
            <label>Rockford 4</label>
        </rules>
        <rules>
            <name>Rockford_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Region</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rockford 5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Rockford_5_Address</targetReference>
            </connector>
            <label>Rockford 5</label>
        </rules>
        <rules>
            <name>Rockford_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Region</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rockford 6</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Rockford_6_Address</targetReference>
            </connector>
            <label>Rockford 6</label>
        </rules>
        <rules>
            <name>Rockford_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Region</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rockford 7</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Rockford_7_Address</targetReference>
            </connector>
            <label>Rockford 7</label>
        </rules>
        <rules>
            <name>Tinley_Park_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Region</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tinley Park 1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Tinley_Park_1_Address</targetReference>
            </connector>
            <label>Tinley Park 1</label>
        </rules>
        <rules>
            <name>Tinley_Park_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Region</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tinley Park 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Tinley_Park_2_Address</targetReference>
            </connector>
            <label>Tinley Park 2</label>
        </rules>
        <rules>
            <name>Tinley_Park_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Region</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tinley Park 3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Tinley_Park_3_Address</targetReference>
            </connector>
            <label>Tinley Park 3</label>
        </rules>
        <rules>
            <name>Tinley_Park_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Region</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tinley Park 4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Tinley_Park_4_Address</targetReference>
            </connector>
            <label>Tinley Park 4</label>
        </rules>
        <rules>
            <name>Chicagoland_North_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Region</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chicagoland North 1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Chicagoland_North_1_Address</targetReference>
            </connector>
            <label>Chicagoland North 1</label>
        </rules>
        <rules>
            <name>Chicagoland_North_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Region</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chicagoland North 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Chicagoland_North_2_Address</targetReference>
            </connector>
            <label>Chicagoland North 2</label>
        </rules>
        <rules>
            <name>Chicagoland_North_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Region</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chicagoland North 3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Chicagoland_North_3_Address</targetReference>
            </connector>
            <label>Chicagoland North 3</label>
        </rules>
        <rules>
            <name>Chicagoland_North_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Region</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chicagoland North 4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Chicagoland_North_4_Address</targetReference>
            </connector>
            <label>Chicagoland North 4</label>
        </rules>
        <rules>
            <name>Chicagoland_Central_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Region</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chicagoland Central 1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Chicagoland_Central_Address</targetReference>
            </connector>
            <label>Chicagoland Central 1</label>
        </rules>
        <rules>
            <name>Chicagoland_Central_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Region</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chicagoland Central 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Chicagoland_Central_2_Address</targetReference>
            </connector>
            <label>Chicagoland Central 2</label>
        </rules>
        <rules>
            <name>Chicagoland_Central_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Region</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chicagoland Central 3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Chicagoland_Central_3_Address</targetReference>
            </connector>
            <label>Chicagoland Central 3</label>
        </rules>
        <rules>
            <name>Chicagoland_South_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Region</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chicagoland Central 3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Chicagoland_South_2_Address</targetReference>
            </connector>
            <label>Chicagoland South 2</label>
        </rules>
        <rules>
            <name>Chicagoland_South_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Region</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chicagoland Central 3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Chicagoland_South_3_Address</targetReference>
            </connector>
            <label>Chicagoland South 3</label>
        </rules>
        <rules>
            <name>Chicagoland_South_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Region</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chicagoland Central 3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Chicagoland_South_4_Address</targetReference>
            </connector>
            <label>Chicagoland South 4</label>
        </rules>
    </decisions>
    <interviewLabel>Convert Service Region into {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Service Region Center Address</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>2696</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Which_Service_Region</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Service_Region</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Service_Region_City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Service_Region_State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>IL</elementReference>
        </value>
    </variables>
    <variables>
        <name>Service_Region_Zip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
