flows/Job_Requisition_Essentials_Changed_Added_Product.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Alert_to_Kurt</name>
        <label>Send Alert to Kurt</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>Job_Requisition_Essentials__c.Job_Requisition_Essential_Has_Been_Added</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Alert_to_Kurt_w_changes</name>
        <label>Send Alert to Kurt w/ changes</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <actionName>Job_Requisition_Essentials__c.Job_Requisition_Essential_Has_Been_Changed</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Was_JRE_Created_Edited</name>
        <label>Was JRE Created? Edited?</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Jobs__r.Job_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Jobs__r.Job_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>In Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Job_Essentials_Department__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Alert_to_Kurt</targetReference>
            </connector>
            <label>Created</label>
        </rules>
        <rules>
            <name>Product_is_modified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Jobs__r.Job_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Jobs__r.Job_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pending Posting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Job_Essentials_Department__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Alert_to_Kurt_w_changes</targetReference>
            </connector>
            <label>Product is modified</label>
        </rules>
    </decisions>
    <description>If a job requisition essential is added after the job has been approved, Kurt and IT are not going to know about it via their list view. An email notification needs to go out to indicate to Kurt/IT that an item has been added.</description>
    <interviewLabel>Job Requisition Essentials: Changed/Added Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Job Requisition Essentials: Changed/Added Product</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Was_JRE_Created_Edited</targetReference>
        </connector>
        <object>Job_Requisition_Essentials__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
