flows/Job_Offer_Create_Job_Offer_from_Application.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>Job Offer: Create Job Offer from Application {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Job Offer: Create Job Offer from Application</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Job_Offer</name>
        <label>Create Job Offer</label>
        <locationX>473</locationX>
        <locationY>164</locationY>
        <inputAssignments>
            <field>Application__c</field>
            <value>
                <elementReference>varApplicationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Candidate__c</field>
            <value>
                <elementReference>varApplicationCandidate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Jobs__c</field>
            <value>
                <elementReference>varApplicationJob</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>varJobResource</elementReference>
            </value>
        </inputAssignments>
        <object>Job_Offers__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Application_Record_Info</name>
        <label>Get Application Record Info</label>
        <locationX>265</locationX>
        <locationY>122</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Job_Offer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varApplicationId</elementReference>
            </value>
        </filters>
        <object>Job_Applications__c</object>
        <outputAssignments>
            <assignToReference>varApplicationCandidate</assignToReference>
            <field>Candidate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varApplicationId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varApplicationJob</assignToReference>
            <field>Jobs__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varJobResource</assignToReference>
            <field>Source__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Application_Record_Info</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>varApplicationCandidate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varApplicationJob</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varJobResource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
