flows/Job_Essentials_Create_Product_Request_Line_Items.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <constants>
        <name>QuantityOf1</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <interviewLabel>Job Essentials Create Product Request Line Items {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Job Essentials Create Product Request Line Items</label>
    <loops>
        <name>Loop_Through_Job_Req_Essentials</name>
        <label>Loop Through Job Req Essentials</label>
        <locationX>491</locationX>
        <locationY>355</locationY>
        <assignNextValueToReference>varJobReqEssentialsLoop</assignNextValueToReference>
        <collectionReference>varJobReqEssentialsCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Product_Request_Line_Items</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Parent_Product_Request</name>
        <label>Create Parent Product Request</label>
        <locationX>50</locationX>
        <locationY>180</locationY>
        <assignRecordIdToReference>varProductRequestParentId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Job_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <stringValue>0011I00001CfwtOQAR</stringValue>
            </value>
        </inputAssignments>
        <object>ProductRequest</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Request_Line_Items</name>
        <label>Create Product Request Line Items</label>
        <locationX>505</locationX>
        <locationY>570</locationY>
        <assignRecordIdToReference>varProdReqLineItemId</assignRecordIdToReference>
        <connector>
            <targetReference>Loop_Through_Job_Req_Essentials</targetReference>
        </connector>
        <inputAssignments>
            <field>Job_Requisition_Essentials__c</field>
            <value>
                <elementReference>varJobReqEssentialsLoop.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Jobs__c</field>
            <value>
                <elementReference>varJobId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>varProductRequestParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>varJobReqEssentialsLoop.Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityRequested</field>
            <value>
                <elementReference>QuantityOf1</elementReference>
            </value>
        </inputAssignments>
        <object>ProductRequestLineItem</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Job_Id</name>
        <label>Get Job Id</label>
        <locationX>260</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Requisition_Job_Essentials</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varJobId</elementReference>
            </value>
        </filters>
        <object>Jobs__c</object>
        <outputAssignments>
            <assignToReference>varJobId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Requisition_Job_Essentials</name>
        <label>Get Requisition Job Essentials</label>
        <locationX>501</locationX>
        <locationY>179</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Job_Req_Essentials</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Jobs__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varJobId</elementReference>
            </value>
        </filters>
        <object>Job_Requisition_Essentials__c</object>
        <outputReference>varJobReqEssentialsCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Create_Parent_Product_Request</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varJobId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varJobReqEssentialsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Job_Requisition_Essentials__c</objectType>
    </variables>
    <variables>
        <name>varJobReqEssentialsId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varJobReqEssentialsLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Job_Requisition_Essentials__c</objectType>
    </variables>
    <variables>
        <name>varProdReqLineItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varProductRequestParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
