flows/Key_Set_Check_In_or_Check_Out2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <choices>
        <name>CheckingIn</name>
        <choiceText>Checking In</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>CheckingOutChoice</name>
        <choiceText>Checking Out</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>CheckinInChoice</name>
        <choiceText>Checking In</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>KeysCheckIn2</name>
        <choiceText>Checking In</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>KeysCheckingIn</name>
        <choiceText>Returning Key Set and associated keys</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>KeysCheckingOut</name>
        <choiceText>Issuing Key Set and associated keys</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>KeysCheckout2</name>
        <choiceText>Checking Out</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <decisions>
        <name>DecisionCheckInOrOut</name>
        <label>DecisionCheckInOrOut</label>
        <locationX>669</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checking_In</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>KeysCheckingIn</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckingInInfo</targetReference>
            </connector>
            <label>Checking In</label>
        </rules>
        <rules>
            <name>Checking_Out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>KeysCheckingOut</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateKeysCheckOut</targetReference>
            </connector>
            <label>Checking Out</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>SafeOptions</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Safe__c</object>
        <outputAssignments>
            <assignToReference>varChosenSafeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varChosenSafeName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>today()</expression>
    </formulas>
    <interviewLabel>Key Set Check In or Check Out {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Key Set Check In or Check Out</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Current_Key_Set_Record</name>
        <label>Get Current Key Set Record</label>
        <locationX>669</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Key_Set_Checkout</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCurrentKeySetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Key_Set__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCurrentKeySet_Check_In</name>
        <label>UpdateCurrentKeySet Check In</label>
        <locationX>405</locationX>
        <locationY>926</locationY>
        <connector>
            <targetReference>ThankYouCheckIn</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCurrentKeySetId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Key_Set_Status__c</field>
            <value>
                <stringValue>Unassigned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resource__c</field>
        </inputAssignments>
        <object>Key_Set__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateKeysCheckIn</name>
        <label>UpdateKeysCheckIn</label>
        <locationX>405</locationX>
        <locationY>806</locationY>
        <connector>
            <targetReference>UpdateCurrentKeySet_Check_In</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Key_Set__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCurrentKeySetId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Issued__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Returned__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Key_Status__c</field>
            <value>
                <stringValue>Unassigned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Safe__c</field>
            <value>
                <elementReference>varChosenSafeId</elementReference>
            </value>
        </inputAssignments>
        <object>Key__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateKeysCheckOut</name>
        <label>UpdateKeysCheckOut</label>
        <locationX>669</locationX>
        <locationY>806</locationY>
        <connector>
            <targetReference>ThankYouCheckOut</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Key_Set__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCurrentKeySetId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Issued__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Returned__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Key_Status__c</field>
            <value>
                <stringValue>Held by Resource</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Safe__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Key__c</object>
    </recordUpdates>
    <screens>
        <name>CheckinCheckout</name>
        <label>CheckinCheckout</label>
        <locationX>670</locationX>
        <locationY>446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DecisionCheckInOrOut</targetReference>
        </connector>
        <fields>
            <name>CheckInvsCheckOutChoice</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Are you checking the keys out to an employee or checking them in from the employee?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>checkinoutchoicetext</name>
            <choiceReferences>KeysCheckingIn</choiceReferences>
            <choiceReferences>KeysCheckingOut</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose One:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CheckingInInfo</name>
        <label>CheckingInInfo</label>
        <locationX>405</locationX>
        <locationY>686</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateKeysCheckIn</targetReference>
        </connector>
        <fields>
            <name>DatesSafe</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Choose the date the keys were returned to the Safe, and choose the return Safe. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Date_of_Return</name>
            <dataType>Date</dataType>
            <fieldText>Date of Return</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Safe_Name</name>
            <choiceReferences>SafeOptions</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Safe Name</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Key_Set_Checkout</name>
        <label>Key Set Checkout</label>
        <locationX>669</locationX>
        <locationY>326</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CheckinCheckout</targetReference>
        </connector>
        <fields>
            <name>DoYouWantToCheckInOutKeys</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Do you want to issue or return this key set and associated keys?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Yes</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ThankYouCheckIn</name>
        <label>ThankYouCheckIn</label>
        <locationX>405</locationX>
        <locationY>1046</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ThankYouCheckInDisplay</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Thank you! Your keys have been noted as returned to the {!varChosenSafeName} safe on {!Date_of_Return}.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ThankYouCheckOut</name>
        <label>ThankYouCheckOut</label>
        <locationX>660</locationX>
        <locationY>1006</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ThankYouCheckInDisplay_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Thank you! Your keys have been noted as checked out to the employee. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Current_Key_Set_Record</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>varChosenSafeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varChosenSafeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCurrentKeySetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
