flows/Location_Assessment_Fields_Write_to_Account.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <description>Upon close of an opportunity, 2 fields write from Location Assessment to Account</description>
    <interviewLabel>Location Assessment Fields Write to Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Location Assessment Fields Write to Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Identify_Location_Assessment_related_to_Opportunity</name>
        <label>Identify Location Assessment related to Opportunity</label>
        <locationX>337</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Account_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vetting_Questionnaire_RelatedList__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </filters>
        <object>Vetting_Questionnaire__c</object>
        <outputAssignments>
            <assignToReference>varDoesTheOwnerHaveOtherLocations</assignToReference>
            <field>Does_the_owner_have_other_locations__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varLocAssessmentId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varIfYesWhichLocations</assignToReference>
            <field>If_yes_which_location__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Identify_Related_Account</name>
        <label>Identify Related Account</label>
        <locationX>199</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Identify_Location_Assessment_related_to_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>varOppAcctId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Fields</name>
        <label>Update Account Fields</label>
        <locationX>337</locationX>
        <locationY>215</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppAcctId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Does_the_Owner_Have_Other_Locations2__c</field>
            <value>
                <elementReference>varDoesTheOwnerHaveOtherLocations</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>If_yes_which_location_s__c</field>
            <value>
                <elementReference>varIfYesWhichLocations</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>Identify_Related_Account</startElementReference>
    <status>Active</status>
    <variables>
        <name>varDoesTheOwnerHaveOtherLocations</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varIfYesWhichLocations</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLocAssessmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOppAcctId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
