flows/Loop_Through_Received_Product_Request.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_1_to_NumberOfProductRequestsAlreadyLooped</name>
        <label>Add 1 to NumberOfProductRequestsAlreadyLooped</label>
        <locationX>594</locationX>
        <locationY>2150</locationY>
        <assignmentItems>
            <assignToReference>NumberOfProductRequestsAlreadyLooped</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_1_to_Product_Consumed_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_1_to_Product_Consumed_Number</name>
        <label>Add 1 to Product Consumed Number</label>
        <locationX>594</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>ProductConsumedNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ReceivedProductRequestsTiedToCase_for_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Product_Consumed_to_ProductsConsumedForInsert_Variable</name>
        <label>Add Product Consumed to ProductsConsumedForInsert Variable</label>
        <locationX>396</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>ProductsConsumedForInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ThisProductConsumed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Product_Request_Field_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Product_Request_to_ProductRequestsdForUpdate_Variable</name>
        <label>Add Product Request to ProductRequestsdForUpdate Variable</label>
        <locationX>396</locationX>
        <locationY>1934</locationY>
        <assignmentItems>
            <assignToReference>ProductRequestsdForUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ThisReceivedProductRequestTiedToCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_1_to_NumberOfProductRequestsAlreadyLooped</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_Request_Field_Values</name>
        <label>Assign Product Request Field Values</label>
        <locationX>396</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>ThisReceivedProductRequestTiedToCase.Product_Consumed_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductConsumedNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Product_Request_to_ProductRequestsdForUpdate_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RMA_Status_to_RMA_Not_Expected</name>
        <label>Assign RMA Status to RMA Not Expected</label>
        <locationX>528</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>RMAStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RMA Not Expected</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_ThisProductConsumed_Field_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RMA_Status_to_RMA_Pulled</name>
        <label>Assign RMA Status to RMA Pulled</label>
        <locationX>264</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>RMAStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RMA Pulled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_ThisProductConsumed_Field_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ThisProductConsumed_Field_Values</name>
        <label>Assign ThisProductConsumed Field Values</label>
        <locationX>396</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>ThisProductConsumed.QuantityConsumed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>If_so_how_many_did_you_consume</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ThisProductConsumed.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrder.AssetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ThisProductConsumed.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrder.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ThisProductConsumed.Service_Appointment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ThisProductConsumed.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrder.CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ThisProductConsumed.QuantityUnitOfMeasure</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Each</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ThisProductConsumed.RMA_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RMAStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ThisProductConsumed.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrder.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ThisProductConsumed.Source_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceResource.LocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ThisProductConsumed.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PricebookEntry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ThisProductConsumed.Product_Consumed_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductConsumedNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Product_Consumed_to_ProductsConsumedForInsert_Variable</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Did_Technician_Consume_Part</name>
        <label>Did Technician Consume Part?</label>
        <locationX>594</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Add_1_to_NumberOfProductRequestsAlreadyLooped</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ConsumedPart</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Did_you_consume_this_part</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Pricebook_Entry</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_This_a_Critical_Part</name>
        <label>Is This a Critical Part?</label>
        <locationX>396</locationX>
        <locationY>1238</locationY>
        <defaultConnector>
            <targetReference>Assign_RMA_Status_to_RMA_Not_Expected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_CriticalPart</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PricebookEntry.Critical_Part__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Critical Part</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_RMA_Status_to_RMA_Pulled</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Loop Through Received Product Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loop Through Received Product Request</label>
    <loops>
        <name>Loop_ReceivedProductRequestsTiedToCase_for_Count</name>
        <label>Loop ReceivedProductRequestsTiedToCase for Count</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignNextValueToReference>ThisReceivedProductRequestTiedToCase</assignNextValueToReference>
        <collectionReference>ReceivedProductRequestsTiedToCase</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Review_Received_Product_Requests</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Product_Consumed_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_Product_Consumed_Records</name>
        <label>Create Product Consumed Records</label>
        <locationX>176</locationX>
        <locationY>2486</locationY>
        <connector>
            <targetReference>Update_Product_Request_Records</targetReference>
        </connector>
        <inputReference>ProductsConsumedForInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Assigned_Resource</name>
        <label>Get Assigned Resource</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointment.Id</elementReference>
            </value>
        </filters>
        <object>AssignedResource</object>
        <outputReference>AssignedResource</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ServiceAppointmentId</queriedFields>
        <queriedFields>ServiceResourceId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Pricebook_Entry</name>
        <label>Get Pricebook Entry</label>
        <locationX>396</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_This_a_Critical_Part</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ThisReceivedProductRequestTiedToCase.Product__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrder.Pricebook2Id</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputReference>PricebookEntry</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Critical_Part__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Requests_Tied_to_Case_with_Status_of_Received</name>
        <label>Get Product Requests Tied to Case with Status of Received</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_ReceivedProductRequestsTiedToCase_for_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Received</stringValue>
            </value>
        </filters>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrder.CaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Parts on Order</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Consumed_Defined__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ProductRequest</object>
        <outputReference>ReceivedProductRequestsTiedToCase</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product_Name__c</queriedFields>
        <queriedFields>Quantity_Requested__c</queriedFields>
        <queriedFields>Product__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Appointment</name>
        <label>Get Service Appointment</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Assigned_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>ServiceAppointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Resource</name>
        <label>Get Service Resource</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssignedResource.ServiceResourceId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>ServiceResource</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LocationId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product_Requests_Tied_to_Case_with_Status_of_Received</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointment.ParentRecordId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WorkOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseId</queriedFields>
        <queriedFields>AssetId</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Pricebook2Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Product_Request_Records</name>
        <label>Update Product Request Records</label>
        <locationX>176</locationX>
        <locationY>2606</locationY>
        <inputReference>ProductRequestsdForUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>Review_Received_Product_Requests</name>
        <label>Review Received Product Requests</label>
        <locationX>594</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Did_Technician_Consume_Part</targetReference>
        </connector>
        <fields>
            <name>ProductDetails</name>
            <fieldText>&lt;p&gt;A previous technician requested the following part in order to complete this job:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;{!ThisReceivedProductRequestTiedToCase.Product_Name__c} (Qty: &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!ThisReceivedProductRequestTiedToCase.Quantity_Requested__c})&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Did_you_consume_this_part</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Did you consume this part?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>If_so_how_many_did_you_consume</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>ThisReceivedProductRequestTiedToCase.Quantity_Requested__c</elementReference>
            </defaultValue>
            <fieldText>If so, how many did you consume?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>DidNotConsumeDisplayText</name>
            <fieldText>&lt;p&gt;&lt;em&gt;If you did NOT consume the part, do not edit the Quantity field above.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Service_Appointment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssignedResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssignedResource</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumberOfProductRequestsAlreadyLooped</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NumberOfProductRequestsToLoop</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>PricebookEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>ProductConsumedNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>100.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ProductRequestsdForUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequest</objectType>
    </variables>
    <variables>
        <name>ProductsConsumedForInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductConsumed</objectType>
    </variables>
    <variables>
        <name>ReceivedProductRequestsTiedToCase</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequest</objectType>
    </variables>
    <variables>
        <name>RMAStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>ServiceResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>ThisProductConsumed</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductConsumed</objectType>
    </variables>
    <variables>
        <name>ThisReceivedProductRequestTiedToCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequest</objectType>
    </variables>
    <variables>
        <name>WorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
