flows/Marketing_IGB_Gaming_License_Status.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>Marketing: IGB Gaming License Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Marketing: IGB Gaming License Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_AccountId_from_Marketing_Request</name>
        <label>Get AccountId from Marketing Request</label>
        <locationX>172</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_IGB_License_Record_info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MarketingRequestId</elementReference>
            </value>
        </filters>
        <object>Marketing_Request__c</object>
        <outputAssignments>
            <assignToReference>varMarketingAccountId</assignToReference>
            <field>AccountID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_IGB_License_Record_info</name>
        <label>Get IGB License Record info</label>
        <locationX>167</locationX>
        <locationY>201</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Account_Discontinued</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMarketingAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecTypeIDLookup__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121I000000W9xQ</stringValue>
            </value>
        </filters>
        <object>License__c</object>
        <outputAssignments>
            <assignToReference>DeniedDate</assignToReference>
            <field>License_Denied_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varIGBLicenseNumber</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Is_Account_Discontinued</name>
        <label>Is Account Discontinued?</label>
        <locationX>164</locationX>
        <locationY>347</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Marketing_Request_with_IGB_License_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMarketingAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varAccountType</assignToReference>
            <field>Type</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Marketing_Request_with_IGB_License_Status</name>
        <label>Update Marketing Request with IGB License Status</label>
        <locationX>464</locationX>
        <locationY>139</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MarketingRequestId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IGB_License_Number__c</field>
            <value>
                <elementReference>varIGBLicenseNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Licensed_Denied_Date__c</field>
            <value>
                <elementReference>DeniedDate</elementReference>
            </value>
        </inputAssignments>
        <object>Marketing_Request__c</object>
    </recordUpdates>
    <startElementReference>Get_AccountId_from_Marketing_Request</startElementReference>
    <status>Active</status>
    <variables>
        <name>DeniedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MarketingRequestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varIGBLicenseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varMarketingAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
