flows/Municipality_Change.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Emails</name>
        <label>Send Emails</label>
        <locationX>222</locationX>
        <locationY>307</locationY>
        <actionName>Account.Municipality_Change</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <interviewLabel>Municipality Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Municipality Change</label>
    <loops>
        <name>Loop_through_Accounts</name>
        <label>Loop through Accounts</label>
        <locationX>223</locationX>
        <locationY>196</locationY>
        <assignNextValueToReference>Account</assignNextValueToReference>
        <collectionReference>Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_Emails</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Accounts_with_this_Municipality</name>
        <label>Lookup Accounts with this Municipality</label>
        <locationX>218</locationX>
        <locationY>74</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MunicipalityLookup__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MuniciId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Accounts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <startElementReference>Lookup_Accounts_with_this_Municipality</startElementReference>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Accounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>MuniciId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
