flows/Send_Software_to_Inventory.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>Send Software to Inventory {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Software to Inventory v7</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>VGT_Asset</name>
        <label>VGT Asset</label>
        <locationX>460</locationX>
        <locationY>74</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Software_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SoftwareV1__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Software_Lookup_Dayna__c</queriedFields>
        <queriedFields>SoftwareV1__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Erase_Software_field_value</name>
        <label>Erase Software field value</label>
        <locationX>921</locationX>
        <locationY>80</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VGT_Asset.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SoftwareV1__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Software_Asset</name>
        <label>Update Software Asset</label>
        <locationX>633</locationX>
        <locationY>72</locationY>
        <connector>
            <targetReference>Back_to_Inventory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VGT_Asset.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VGT_Asset.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121I000000W9wzQAC</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <stringValue>0011I00001CKkO4QAL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <stringValue>02i1I000003YkkqQAC</stringValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <screens>
        <name>Back_to_Inventory</name>
        <label>Back to Inventory</label>
        <locationX>775</locationX>
        <locationY>81</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Erase_Software_field_value</targetReference>
        </connector>
        <fields>
            <name>Inventory</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The Software, &lt;/span&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!VGT_Asset.SoftwareV1__r.Name} Serial Number: &lt;/b&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!VGT_Asset.SoftwareV1__r.SerialNumber}&lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;, is being assigned back to the Accel Inventory&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>53</locationY>
        <connector>
            <targetReference>VGT_Asset</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
