flows/Service_Appointment_Reject_Service_Appointment.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Service_Appointment_Variables</name>
        <label>Set Service Appointment Variables</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Tech_Notes_Mobile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tech_Notes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Appointment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check to see if the status of the Service Appointment is On-Site, if so don&apos;t allow the Tech to reject the Service Appointment</description>
        <name>What_is_the_Status_of_the_SA</name>
        <label>What is the Status of the SA?</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Reject_Service_Appointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>On_Site</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Action_Not_Allowed</targetReference>
            </connector>
            <label>On-Site</label>
        </rules>
    </decisions>
    <description>FSM Flow for Techs to set the status to &apos;Rejected&apos; on a Service Appointments.</description>
    <formulas>
        <name>ConcatName</name>
        <dataType>String</dataType>
        <expression>&quot; &quot;+&quot;//&quot;+&quot; &quot;+{!User.FirstName}+&quot; &quot;+{!User.LastName}+&quot;:&quot;+ {!Tech_Notes} +&quot; &quot;+&quot;//&quot;+&quot; &quot;</expression>
    </formulas>
    <interviewLabel>Service Appointment - Reject Service Appointment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Appointment - Reject Service Appointment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_is_the_Status_of_the_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointment.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Account</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Appointment</name>
        <label>Get Service Appointment</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>ServiceAppointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>User</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Service_Appointment</name>
        <label>Update Service Appointment</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <inputReference>ServiceAppointment</inputReference>
    </recordUpdates>
    <screens>
        <name>Action_Not_Allowed</name>
        <label>Action Not Allowed</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DontReject</name>
            <fieldText>&lt;p&gt;This Service Appointment is already set to On-Site; please tap &apos;Close Appointment&apos; instead to close this Service Appointment as &apos;Cannot Complete.&apos;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reject_Service_Appointment</name>
        <label>Reject Service Appointment</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Service_Appointment_Variables</targetReference>
        </connector>
        <fields>
            <name>Tech_Notes</name>
            <fieldText>Tech Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>StatusRejected</name>
            <fieldText>&lt;p&gt;Click &apos;Next&apos; to reject the Service Appointment for: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Account.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
