flows/Service_Appointment_Close_Appointment.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Add_1_to_Count_of_Received_Product_Requests_Tied_to_Case</name>
        <label>Add 1 to Count of Received Product Requests Tied to Case</label>
        <locationX>759</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>ReceivedProductRequestsTiedToCase_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ReceivedProductRequestsTiedToCase_for_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_and_Work_Order_Variables</name>
        <label>Assign Case and Work Order Variables</label>
        <locationX>677</locationX>
        <locationY>4430</locationY>
        <assignmentItems>
            <assignToReference>WorkOrder.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Work_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_and_Work_Order_Variables_0</name>
        <label>Assign Case and Work Order Variables</label>
        <locationX>413</locationX>
        <locationY>4430</locationY>
        <assignmentItems>
            <assignToReference>WorkOrder.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Work_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Service Appointment variables for when the Technician cannot complete the Service Appointment. Note: Tech Notes Mobile is a hidden field not on any page layout that is used in the Service Appointment - Before Update flow.</description>
        <name>Assign_Service_Appointment_Variables_CannotComplete</name>
        <label>Assign Service Appointment Variables</label>
        <locationX>50</locationX>
        <locationY>3398</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Machine_Down_Upon_Arrival__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Machine_Down_Upon_Arrival</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Machine_Up_Upon_Departure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Machine_Up_Upon_Departure</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Was_Software_Gameset_Changed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Was_Software_Gameset_Changed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Substatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Substatus_Cannot</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Tech_Notes_Mobile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tech_Notes_Cannot_Complete</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Work_Type_All_Games_Are_Down_ProductRequests</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Service Appointment variables for when the Technician completes the Service Appointment. Note: Tech Notes Mobile is a hidden field not on any page layout that is used in the Service Appointment - Before Update flow.</description>
        <name>Assign_Service_Appointment_Variables_Completed</name>
        <label>Assign Service Appointment Variables</label>
        <locationX>644</locationX>
        <locationY>4094</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Machine_Down_Upon_Arrival__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Machine_Down_Upon_Arrival</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Machine_Up_Upon_Departure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Machine_Up_Upon_Departure</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Was_Software_Gameset_Changed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Was_Software_Gameset_Changed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Tech_Notes_Mobile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tech_Notes_Completed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Solution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSolution</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Closed_With_Flow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Asset_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Solution</name>
        <label>Set Solution</label>
        <locationX>512</locationX>
        <locationY>3758</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Accel_Solution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Solution</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tech_Notes_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Solution2</name>
        <label>Set Solution2</label>
        <locationX>776</locationX>
        <locationY>3758</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Accel_Solution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Solution2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tech_Notes_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AssetfromCaseChoice</name>
        <choiceText>{!Asset_from_Case.Name}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Asset_from_Case.Id</elementReference>
        </value>
    </choices>
    <choices>
        <name>Cannot_Complete</name>
        <choiceText>Cannot Complete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cannot Complete</stringValue>
        </value>
    </choices>
    <choices>
        <name>Completed</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>WorkTypefromCaseChoice</name>
        <choiceText>{!WorkType_from_Case.Name}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>WorkType_from_Case.Id</elementReference>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Are_there_any_Matching_Accel_Solutions</name>
        <label>Are there any Matching Accel Solutions?</label>
        <locationX>644</locationX>
        <locationY>3518</locationY>
        <defaultConnector>
            <targetReference>Completed_Screen2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Matching Solution</defaultConnectorLabel>
        <rules>
            <name>Found_Matching_Solution</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarMatchSolution</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Completed_Screen</targetReference>
            </connector>
            <label>Found Matching Solution</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_tech_use_any_additional_parts_during_the_job</name>
        <label>Did tech use any additional parts during the job?</label>
        <locationX>517</locationX>
        <locationY>2534</locationY>
        <defaultConnector>
            <targetReference>Was_Status_set_to_Cannot_Complete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_AdditionalParts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Did_you_use_any_ADDITIONAL_parts_during_this_job</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Parts_Consumed_Subflow</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_technician_use_parts</name>
        <label>Did technician use parts?</label>
        <locationX>880</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Was_Status_set_to_Cannot_Complete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_PartsUsed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Did_you_use_any_parts_during_this_job</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Product_Requests_Tied_to_Case_with_Status_of_Received</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Asset_Null</name>
        <label>Is Asset Null?</label>
        <locationX>545</locationX>
        <locationY>4310</locationY>
        <defaultConnector>
            <targetReference>Assign_Case_and_Work_Order_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Null</defaultConnectorLabel>
        <rules>
            <name>Asset_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Asset_from_Case.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AssetfromCaseChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_and_Work_Order_Variables_0</targetReference>
            </connector>
            <label>Asset Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Substatus_Parts_On_Order</name>
        <label>Is Substatus Parts On Order?</label>
        <locationX>204</locationX>
        <locationY>3638</locationY>
        <defaultConnector>
            <targetReference>Is_Asset_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_PartsOnOrder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Substatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Parts On Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Product_Requests_Subflow</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_at_least_one_Product_Request_tied_to_the_Case_with_a_Status_of_Received</name>
        <label>Is there at least one Product Request tied to the Case with a Status of Received?</label>
        <locationX>671</locationX>
        <locationY>2174</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Parts_Consumed_Subflow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_AtLeastOne</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReceivedProductRequestsTiedToCase_Count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Received_Product_Request_Subflow</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Work_Type_All_Games_Are_Down_ProductRequests</name>
        <label>Is Work Type &quot;All Games Are Down&quot;</label>
        <locationX>50</locationX>
        <locationY>3518</locationY>
        <defaultConnector>
            <targetReference>Is_Substatus_Parts_On_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_AllGamesDown_ProductRequests</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Work_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AllGamesAreDownWorkType.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Asset_Null</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Work_Type_All_Games_Are_Down_ProductsConsumed</name>
        <label>Is Work Type &quot;All Games Are Down&quot;</label>
        <locationX>545</locationX>
        <locationY>1358</locationY>
        <defaultConnector>
            <targetReference>Parts_Consumed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_AllGamesDown_ProductsConsumed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Work_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AllGamesAreDownWorkType.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Was_Status_set_to_Cannot_Complete</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>If Status is set to Cannot Complete, show screen for Substatus Option. If Status is set to Completed, show screen for Solution Option.</description>
        <name>Was_Status_set_to_Cannot_Complete</name>
        <label>Was Status set to Cannot Complete?</label>
        <locationX>545</locationX>
        <locationY>3158</locationY>
        <defaultConnectorLabel>Other Statuses</defaultConnectorLabel>
        <rules>
            <name>Cannot_Complete_Status_Cat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Cannot_Complete</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_Complete_Screen</targetReference>
            </connector>
            <label>Cannot Complete</label>
        </rules>
        <rules>
            <name>Completed_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Completed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_for_a_Solution</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
    </decisions>
    <description>Field Service Mobile flow for Technicians to edit and close out Service Appointments.</description>
    <dynamicChoiceSets>
        <name>AccelSolution</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Search_for_a_Solution_field</elementReference>
            </value>
        </filters>
        <object>Solution__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AccelSolution2</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Solution__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AllAssetsFromGet</name>
        <collectionReference>AllAssets</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Asset</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AssetsfromAccount</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointment.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>SoftwareAssetRT</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>PartsAssetRT</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <sortField>SAS__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Substatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Substatus__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WorkTypes</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Inactive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>WorkType</object>
        <outputAssignments>
            <assignToReference>WorkTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Service Appointment - Close Appointment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Appointment - Close Appointment</label>
    <loops>
        <name>Loop_ReceivedProductRequestsTiedToCase_for_Count</name>
        <label>Loop ReceivedProductRequestsTiedToCase for Count</label>
        <locationX>671</locationX>
        <locationY>1838</locationY>
        <assignNextValueToReference>ThisReceivedProductRequestTiedToCase</assignNextValueToReference>
        <collectionReference>ReceivedProductRequestsTiedToCase</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_1_to_Count_of_Received_Product_Requests_Tied_to_Case</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_there_at_least_one_Product_Request_tied_to_the_Case_with_a_Status_of_Received</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_All_Games_Are_Down_Work_Type</name>
        <label>Get &quot;All Games Are Down&quot; Work Type</label>
        <locationX>545</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Asset_from_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ALL GAMES ARE DOWN</stringValue>
            </value>
        </filters>
        <object>WorkType</object>
        <outputReference>AllGamesAreDownWorkType</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get Assets related to the Account related to the Case related to the Work Order related to the Service Appointment that this flow was triggered from.</description>
        <name>Get_Asset_from_Case</name>
        <label>Get Asset from Case</label>
        <locationX>545</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Software_Asset_Record_Types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case.AssetId</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>Asset_from_Case</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get the Case related to the Work Order related to the Service Appointment that triggered this flow.</description>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>545</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Type_from_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrder.CaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>Case</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AssetId</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Work_Type__c</queriedFields>
        <queriedFields>Service_Category__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Gets all Accel Solutions where Status = Active and Search_for_a_Solution_Field is included</description>
        <name>Get_Matching_Accel_Solutions</name>
        <label>Get Matching Accel Solutions</label>
        <locationX>644</locationX>
        <locationY>3398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_any_Matching_Accel_Solutions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Search_for_a_Solution_field</elementReference>
            </value>
        </filters>
        <object>Solution__c</object>
        <outputReference>VarMatchSolution</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Parts_Asset_Record_Type</name>
        <label>Get Parts Asset Record Type</label>
        <locationX>545</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Asset_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Asset</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Parts</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>PartsAssetRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Requests_Tied_to_Case_with_Status_of_Received</name>
        <label>Get Product Requests Tied to Case with Status of Received</label>
        <locationX>671</locationX>
        <locationY>1718</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_ReceivedProductRequestsTiedToCase_for_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Received</stringValue>
            </value>
        </filters>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrder.CaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Parts on Order</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Consumed_Defined__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ProductRequest</object>
        <outputReference>ReceivedProductRequestsTiedToCase</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get the Service Appointment triggering the flow.</description>
        <name>Get_Service_Appointment</name>
        <label>Get Service Appointment</label>
        <locationX>545</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>ServiceAppointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Machine_Down_Upon_Arrival__c</queriedFields>
        <queriedFields>Machine_Up_Upon_Departure__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>StatusCategory</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
        <queriedFields>Solution__c</queriedFields>
        <queriedFields>Solution_Notes__c</queriedFields>
        <queriedFields>WorkTypeId</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Closed_With_Flow__c</queriedFields>
        <queriedFields>Case__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get Asset record types to filter asset selection</description>
        <name>Get_Software_Asset_Record_Types</name>
        <label>Get Software Asset Record Types</label>
        <locationX>545</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Parts_Asset_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Asset</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Software</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>SoftwareAssetRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get the User record from the Mobile App</description>
        <name>Get_User_Record</name>
        <label>Get User Record</label>
        <locationX>545</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>varUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get Work Order related to the Service Appointment that triggered this flow.</description>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>545</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointment.ParentRecordId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WorkOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseId</queriedFields>
        <queriedFields>WorkTypeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Type_from_Case</name>
        <label>Get Work Type from Case</label>
        <locationX>545</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Games_Are_Down_Work_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case.Work_Type__c</elementReference>
            </value>
        </filters>
        <object>WorkType</object>
        <outputReference>WorkType_from_Case</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Update the Service Appointments based on the previous assignment.</description>
        <name>Update_Service_Appointmnet</name>
        <label>Update Service Appointmnet</label>
        <locationX>545</locationX>
        <locationY>4766</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <inputReference>ServiceAppointment</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update the Work Order based on previous assignments.</description>
        <name>Update_Work_Order</name>
        <label>Update Work Order</label>
        <locationX>545</locationX>
        <locationY>4646</locationY>
        <connector>
            <targetReference>Update_Service_Appointmnet</targetReference>
        </connector>
        <inputReference>WorkOrder</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Additional_Parts_Consumed</name>
        <label>Additional Parts Consumed?</label>
        <locationX>517</locationX>
        <locationY>2414</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Did_tech_use_any_additional_parts_during_the_job</targetReference>
        </connector>
        <fields>
            <name>Did_you_use_any_ADDITIONAL_parts_during_this_job</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Did you use any ADDITIONAL parts during this job?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cannot_Complete_Screen</name>
        <label>Cannot Complete Screen</label>
        <locationX>50</locationX>
        <locationY>3278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Service_Appointment_Variables_CannotComplete</targetReference>
        </connector>
        <fields>
            <name>Substatus_Cannot</name>
            <choiceReferences>Substatus</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Substatus</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Tech_Notes_Cannot_Complete</name>
            <fieldText>Tech Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Completed_Screen</name>
        <label>Select Solution</label>
        <locationX>512</locationX>
        <locationY>3638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Solution</targetReference>
        </connector>
        <fields>
            <name>Solution</name>
            <choiceReferences>AccelSolution</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Solution</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Completed_Screen2</name>
        <label>Select Solution</label>
        <locationX>776</locationX>
        <locationY>3638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Solution2</targetReference>
        </connector>
        <fields>
            <name>Solution2</name>
            <choiceReferences>AccelSolution2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Solution</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Parts_Consumed</name>
        <label>Parts Consumed?</label>
        <locationX>880</locationX>
        <locationY>1478</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Did_technician_use_parts</targetReference>
        </connector>
        <fields>
            <name>Did_you_use_any_parts_during_this_job</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Did you use any parts during this job?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Search_for_a_Solution</name>
        <label>Search for a Solution</label>
        <locationX>644</locationX>
        <locationY>3278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Matching_Accel_Solutions</targetReference>
        </connector>
        <fields>
            <name>Search_for_a_Solution_field</name>
            <dataType>String</dataType>
            <fieldText>Search for a Solution:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Asset_Screen</name>
        <label>Select Asset Screen</label>
        <locationX>545</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Work_Type_All_Games_Are_Down_ProductsConsumed</targetReference>
        </connector>
        <fields>
            <name>Machine_Down_Upon_Arrival</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Machine Down Upon Arrival</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Was_Software_Gameset_Changed</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
            <fieldText>Was Software/Gameset Changed?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Machine_Up_Upon_Departure</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Machine Up Upon Departure</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Work_Type</name>
            <choiceReferences>WorkTypes</choiceReferences>
            <choiceReferences>WorkTypefromCaseChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>WorkTypefromCaseChoice</defaultSelectedChoiceReference>
            <fieldText>Work Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Asset</name>
            <choiceReferences>AssetsfromAccount</choiceReferences>
            <choiceReferences>AssetfromCaseChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>AssetfromCaseChoice</defaultSelectedChoiceReference>
            <fieldText>Asset</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Status</name>
            <choiceReferences>Completed</choiceReferences>
            <choiceReferences>Cannot_Complete</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>545</locationX>
        <locationY>4886</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;The Service Appointment was successfully closed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Tech_Notes_Screen</name>
        <label>Tech Notes Screen</label>
        <locationX>644</locationX>
        <locationY>3974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Service_Appointment_Variables_Completed</targetReference>
        </connector>
        <fields>
            <name>Tech_Notes_Completed</name>
            <fieldText>Tech Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Log_Parts_Consumed_Subflow</name>
        <label>Log Parts Consumed Subflow</label>
        <locationX>385</locationX>
        <locationY>2654</locationY>
        <connector>
            <targetReference>Was_Status_set_to_Cannot_Complete</targetReference>
        </connector>
        <flowName>Log_Products_Consumed</flowName>
        <inputAssignments>
            <name>Id</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_Product_Requests_Subflow</name>
        <label>Log Product Requests Subflow</label>
        <locationX>72</locationX>
        <locationY>3758</locationY>
        <connector>
            <targetReference>Is_Asset_Null</targetReference>
        </connector>
        <flowName>Log_Product_Requests</flowName>
        <inputAssignments>
            <name>Id</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Loop_Through_Received_Product_Request_Subflow</name>
        <label>Loop Through Received Product Request Subflow</label>
        <locationX>517</locationX>
        <locationY>2294</locationY>
        <connector>
            <targetReference>Additional_Parts_Consumed</targetReference>
        </connector>
        <flowName>Loop_Through_Received_Product_Request</flowName>
        <inputAssignments>
            <name>Id</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NumberOfProductRequestsToLoop</name>
            <value>
                <elementReference>ReceivedProductRequestsTiedToCase_Count</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AllAssets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>AllGamesAreDownWorkType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkType</objectType>
    </variables>
    <variables>
        <name>Asset_from_Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PartsAssetRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReceivedProductRequestsTiedToCase</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequest</objectType>
    </variables>
    <variables>
        <name>ReceivedProductRequestsTiedToCase_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>RecordTypePartsAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>RecordTypeSoftwareAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>SoftwareAssetRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ThisReceivedProductRequestTiedToCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequest</objectType>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarMatchSolution</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Solution__c</objectType>
    </variables>
    <variables>
        <name>varSolution</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>WorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>WorkType_from_Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkType</objectType>
    </variables>
    <variables>
        <name>WorkTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
