flows/Service_Appointment_Drip_Dispatch.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <description>Dispatch the next Service Appointment.</description>
        <name>Assign_Service_Appointment_Variables</name>
        <label>Assign Service Appointment Variables</label>
        <locationX>402</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>NextServiceAppointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dispatched</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Next_Service_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigned_Record_to_Variable</name>
        <label>Assigned Record to Variable</label>
        <locationX>138</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>NextServiceAppointment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_Service_Appointment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Service_Appointment</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <description>Get all Service Appointments currently in progress.</description>
        <name>Filter_for_In_Progress_Service_Appointments</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter for In Progress Service Appointments</label>
        <locationX>257</locationX>
        <locationY>278</locationY>
        <assignNextValueToReference>currentItem_Filter_for_In_Progress_Service_Appointments_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Service_Appointments_on_Shift</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_for_In_Progress_Service_Appointments_0.StatusCategory</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>InProgress</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_for_In_Progress_Service_Appointments_0.Id</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <elementReference>recordId</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Are_there_any_In_Progress_Service_Appointments</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_for_Scheduled_Service_Appointments</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter for Scheduled Service Appointments</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignNextValueToReference>currentItem_Filter_for_Scheduled_Service_Appointments</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Service_Appointments_on_Shift</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_for_Scheduled_Service_Appointments.Status</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Scheduled</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_over_Service_Appointment</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <description>Check to see if there are currently any other In Progress Service Appointments, this could happen if emergency dispatch is used to divert a resource to a more important Service Appointment.</description>
        <name>Are_there_any_In_Progress_Service_Appointments</name>
        <label>Are there any In Progress Service Appointments?</label>
        <locationX>257</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_InProgress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_for_In_Progress_Service_Appointments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_for_Scheduled_Service_Appointments</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks the scheduled start time of the Service Appointment to see if it begins between now and 60 minutes from now and if the status category of &apos;Scheduled.&apos;</description>
        <name>Is_the_next_SA_within_the_next_N_minutes</name>
        <label>Is the next SA within the next N minutes?</label>
        <locationX>732</locationX>
        <locationY>878</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Within_Time_Frame</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NextServiceAppointment.SchedStartTime</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varCurrentTimePlusNMin</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NextServiceAppointment.StatusCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NextServiceAppointment.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_is_the_Status_of_the_next_Service_Appointment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_the_first_record</name>
        <label>Is this the first record?</label>
        <locationX>435</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Is_the_next_SA_within_the_next_N_minutes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>First_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigned_Record_to_Variable</targetReference>
            </connector>
            <label>First Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_Status_of_the_next_Service_Appointment</name>
        <label>What is the Status of the next Service Appointment?</label>
        <locationX>534</locationX>
        <locationY>998</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NextServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Service_Appointment_Variables</targetReference>
            </connector>
            <label>Scheduled</label>
        </rules>
    </decisions>
    <description>Subflow used to drip dispatch Service Appointments after the previous Service Appointment status is set to &apos;Completed.&apos;</description>
    <environments>Default</environments>
    <formulas>
        <name>varCurrentTimePlusNMin</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + 65/24/60</expression>
    </formulas>
    <interviewLabel>Service Appointment - Drip Dispatch {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Appointment - Drip Dispatch</label>
    <loops>
        <description>Loop over all Service Appointments on the Assigned Resource&apos;s Shift.</description>
        <name>Loop_over_Service_Appointment</name>
        <label>Loop over Service Appointment</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <collectionReference>Filter_for_Scheduled_Service_Appointments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_this_the_first_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_the_next_SA_within_the_next_N_minutes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the all Service Appointments within the Assigned Resource&apos;s Shift.</description>
        <name>Get_Service_Appointments_on_Shift</name>
        <label>Get Service Appointments on Shift</label>
        <locationX>257</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_for_In_Progress_Service_Appointments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Resource_Shift__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssignedResourceShift.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Resource_Shift__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <sortField>SchedStartTime</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the next Service Appointment based on previous assignments in Subflow.</description>
        <name>Update_Next_Service_Appointment</name>
        <label>Update Next Service Appointment</label>
        <locationX>402</locationX>
        <locationY>1238</locationY>
        <inputReference>NextServiceAppointment</inputReference>
    </recordUpdates>
    <start>
        <locationX>131</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Service_Appointments_on_Shift</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssignedResourceShift</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Shift</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_for_In_Progress_Service_Appointments_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_for_Scheduled_Service_Appointments</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>currentItem_Next_Service_Appointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>NextServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <description>Passed in from Service Appointment - After Update Flow</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
