flows/Shift_After_Update.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Secondary_STM_Territory_Change</name>
        <label>Assign Secondary STM Territory Change</label>
        <locationX>1194</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>Get_Secondary_Territory_Member_Record.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Territory.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Service_Region_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Secondary_STM_Time_Changes</name>
        <label>Assign Secondary STM Time Changes</label>
        <locationX>1194</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>Get_Secondary_Territory_Member_Record.EffectiveStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.StartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Secondary_Territory_Member_Record.EffectiveEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.EndTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Secondary_Territory_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Shift_Updates</name>
        <label>Assign Shift Updates</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>$Record.Secondary_Service_Territory_Member__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Secondary_STM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Each variable is modified by the operator and value combination.</description>
        <name>Assign_Shift_Variable</name>
        <label>Assign Shift Variable</label>
        <locationX>930</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>$Record.Secondary_Service_Territory_Member__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Secondary_Service_Territory_Member</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Shift</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Secondary_STM_Address</name>
        <label>Set Secondary STM Address</label>
        <locationX>1194</locationX>
        <locationY>2159</locationY>
        <assignmentItems>
            <assignToReference>Get_Secondary_Territory_Member_Record.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Region_Center_Address_Secondary_STM.Service_Region_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Secondary_Territory_Member_Record.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Region_Center_Address_Secondary_STM.Service_Region_State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Secondary_Territory_Member_Record.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Region_Center_Address_Secondary_STM.Service_Region_Zip</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Needed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Null</name>
        <label>Is Null</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <defaultConnector>
            <targetReference>Delete_Secondary_STM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Secondary_Territory_Member_Record_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Shift_Updates</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if any Secondary STMs with null end times are found for the Service Territory and Service Resource, if yes end the flow.</description>
        <name>Is_Secondary_STM_Found</name>
        <label>Is Secondary STM Found?</label>
        <locationX>798</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Create_Secondary_Service_Territory_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Perm_SecondarySTM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Secondary_Service_Territory_Members</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Secondary_Service_Territory</name>
        <label>Secondary Service Territory</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Secondary_ST</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Secondary_Service_Territory__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Secondary_Territory_Member_Record_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Secondary_Territory</name>
        <label>Secondary Territory?</label>
        <locationX>886</locationX>
        <locationY>887</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Was_Removed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Secondary_Service_Territory__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Secondary_Territory_Member_Record_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Was Removed</label>
        </rules>
        <rules>
            <name>Was_Added</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Secondary_Service_Territory__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Secondary_Service_Territory_Confirmed</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Was Added</label>
        </rules>
        <rules>
            <name>Status_Confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Confirmed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Secondary_Service_Territory__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Secondary_Service_Territory_Confirmed</targetReference>
            </connector>
            <label>Yes and Status Confirmed</label>
        </rules>
        <rules>
            <name>Yes_Secondary_Territory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Secondary_Service_Territory__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Secondary_Territory_Member_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Secondary_Territory_Changed</name>
        <label>Secondary Territory Changed?</label>
        <locationX>1326</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>Service_Region_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Changed</defaultConnectorLabel>
        <rules>
            <name>Yes_Secondary_Territory_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Secondary_Service_Territory__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Confirmed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_Territory</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Region_Changed</name>
        <label>Service Region Changed?</label>
        <locationX>1326</locationX>
        <locationY>1919</locationY>
        <defaultConnector>
            <targetReference>Update_Needed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Changed</defaultConnectorLabel>
        <rules>
            <name>Yes_Region_Changed_S_STM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Region__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_Region_Center_Address_Secondary_STM</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Start_or_End_Time_Changed</name>
        <label>Start or End Time Changed</label>
        <locationX>1326</locationX>
        <locationY>1127</locationY>
        <defaultConnector>
            <targetReference>Secondary_Territory_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Changed</defaultConnectorLabel>
        <rules>
            <name>Yes_Time_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StartTime</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EndTime</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Confirmed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Secondary_STM_Time_Changes</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Changed</name>
        <label>Status Changed?</label>
        <locationX>886</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Secondary_Territory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Changed</defaultConnectorLabel>
        <rules>
            <name>Confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Secondary_Territory</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Confirmed</label>
        </rules>
        <rules>
            <name>Tentative</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tentative</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Published</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Secondary_Service_Territory</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Tentative</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Needed</name>
        <label>Update Needed?</label>
        <locationX>1326</locationX>
        <locationY>2375</locationY>
        <defaultConnectorLabel>No Update</defaultConnectorLabel>
        <rules>
            <name>Yes_Update</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Yes_Time_Changed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Yes_Secondary_Territory_Changed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Yes_Region_Changed_S_STM</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Secondary_STM</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Shift - After Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Shift - After Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Secondary_Service_Territory_Member</name>
        <label>Create Secondary Service Territory Member</label>
        <locationX>930</locationX>
        <locationY>1367</locationY>
        <connector>
            <targetReference>Assign_Shift_Variable</targetReference>
        </connector>
        <inputAssignments>
            <field>EffectiveEndDate</field>
            <value>
                <elementReference>$Record.EndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveStartDate</field>
            <value>
                <elementReference>$Record.StartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResourceId</field>
            <value>
                <elementReference>$Record.ServiceResourceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>Get_Secondary_Service_Territory_Confirmed.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TerritoryType</field>
            <value>
                <stringValue>S</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceTerritoryMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Secondary_STM</name>
        <label>Delete Secondary STM</label>
        <locationX>138</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Assign_Shift_Updates</targetReference>
        </connector>
        <inputReference>Get_Secondary_Territory_Member_Record_0</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Secondary_Service_Territory_Confirmed</name>
        <label>Get Secondary Service Territory</label>
        <locationX>798</locationX>
        <locationY>1007</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Secondary_Service_Territory_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Secondary_Service_Territory__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get all of the Service Resource&apos;s Secondary Territory Members with no End Time.</description>
        <name>Get_Secondary_Service_Territory_Members</name>
        <label>Get Secondary Service Territory Members</label>
        <locationX>798</locationX>
        <locationY>1127</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Secondary_STM_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TerritoryType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>S</stringValue>
            </value>
        </filters>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceResourceId</elementReference>
            </value>
        </filters>
        <filters>
            <field>EffectiveEndDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ServiceTerritoryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Secondary_Service_Territory_Confirmed.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceTerritoryMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Secondary_Territory_Member_Record</name>
        <label>Get Secondary Territory Member Record</label>
        <locationX>1326</locationX>
        <locationY>1007</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Start_or_End_Time_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Secondary_Service_Territory_Member__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritoryMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Secondary_Territory_Member_Record_0</name>
        <label>Get Secondary Territory Member Record</label>
        <locationX>50</locationX>
        <locationY>1007</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Secondary_Service_Territory_Member__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritoryMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Territory</name>
        <label>Get Service Territory</label>
        <locationX>1194</locationX>
        <locationY>1583</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Secondary_STM_Territory_Change</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Secondary_Service_Territory__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Secondary_STM</name>
        <label>Update Secondary STM</label>
        <locationX>50</locationX>
        <locationY>1583</locationY>
        <inputReference>Get_Secondary_Territory_Member_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Shift</name>
        <label>Update Shift</label>
        <locationX>930</locationX>
        <locationY>1607</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>760</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status_Changed</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Shift_Primary_Service_Territory__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Secondary_Service_Territory__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StartTime</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EndTime</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Service_Region__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Shift</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Get_Service_Region_Center_Address_Secondary_STM</name>
        <label>Get Service Region Center Address</label>
        <locationX>1194</locationX>
        <locationY>2039</locationY>
        <connector>
            <targetReference>Set_Secondary_STM_Address</targetReference>
        </connector>
        <flowName>Get_Service_Region_Center_Address</flowName>
        <inputAssignments>
            <name>Service_Region</name>
            <value>
                <elementReference>$Record.Service_Region__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
