flows/TEST_Write_Most_Recent_HPD_to_Account.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>All_in_One</name>
        <label>All in One</label>
        <locationX>532</locationX>
        <locationY>380</locationY>
        <assignmentItems>
            <assignToReference>AllInOneAccountCollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AccountRecordVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Hold_Per_Day_Elements</name>
        <label>Assign Hold Per Day Elements</label>
        <locationX>708</locationX>
        <locationY>249</locationY>
        <assignmentItems>
            <assignToReference>AccountRecordVar.Most_Recent_Hold_Per_Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HPDRecordVar.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_in_One</targetReference>
        </connector>
    </assignments>
    <interviewLabel>TEST: Write Most Recent HPD to Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TEST: Write Most Recent HPD to Account v3</label>
    <loops>
        <name>Loop_Through_Accounts</name>
        <label>Loop Through Accounts</label>
        <locationX>342</locationX>
        <locationY>251</locationY>
        <assignNextValueToReference>HPDRecordVar</assignNextValueToReference>
        <collectionReference>HPDCollectionVar</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Hold_Per_Day_Elements</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Fast_Update_Accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_HPD_Records</name>
        <label>Get HPD Records</label>
        <locationX>191</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAcctsToUpdate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varHPDid</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121I000000W9xM</stringValue>
            </value>
        </filters>
        <object>Hold_Per_Day__c</object>
        <outputAssignments>
            <assignToReference>varHPDAccountId</assignToReference>
            <field>Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varHPDid</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetAcctsToUpdate</name>
        <label>Get Accounts to Update</label>
        <locationX>342</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varHPDAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountCollectionVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Most_Recent_Hold_Per_Day__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Fast_Update_Accounts</name>
        <label>Fast Update Accounts</label>
        <locationX>344</locationX>
        <locationY>469</locationY>
        <inputReference>AllInOneAccountCollectionVar</inputReference>
    </recordUpdates>
    <startElementReference>Get_HPD_Records</startElementReference>
    <status>Draft</status>
    <variables>
        <name>AccountCollectionVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AllInOneAccountCollectionVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>HPDCollectionVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Hold_Per_Day__c</objectType>
    </variables>
    <variables>
        <name>HPDRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Hold_Per_Day__c</objectType>
    </variables>
    <variables>
        <name>varHPDAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varHPDid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
