flows/User_Manager_Change_AL.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Dayna</name>
        <label>Email Dayna</label>
        <locationX>797</locationX>
        <locationY>147</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyManagerChange</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varDaynaEmailText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubjectManagerChange</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <interviewLabel>User Manager Change AL {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User Manager Change AL</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_User_Record_Info</name>
        <label>Get User Record Info</label>
        <locationX>409</locationX>
        <locationY>136</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email_Dayna</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_User_Record_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>DaynaEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!varDaynaEmailText}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBodyManagerChange</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>GetUserId: {!Get_User_Record_Info.Id}
varUserId: {!varUserId}
New Manager Id: {!Get_User_Record_Info.ManagerId}</text>
    </textTemplates>
    <textTemplates>
        <name>EmailSubjectManagerChange</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Manager Change Notification</text>
    </textTemplates>
    <textTemplates>
        <name>varBodyTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60);&quot;&gt;GetUserId: {!Get_User_Record_Info.Id}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60);&quot;&gt;varUserId: {!varUserId}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;New Manager Id: {!Get_User_Record_Info.ManagerId}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>varDaynaEmailText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>daynam@accelentertainment.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>varUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
